
//-------------------------------- VARIABLES 

$purple : #675473;
$text : #171715;
$lightblue : #525D93;
$blue : #292867;


$screen-4xs: 330px;
$screen-xxs: 480px;
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);



// // Defining values
// $screen-sm-min: 768px;
// $screen-xs-max: ($screen-sm-min - 1);
// $screen-md-min: 992px;
// $screen-sm-max: ($screen-md-min - 1);
// $screen-lg-min: 1200px;
// $screen-md-max: ($screen-lg-min - 1);
 
// // Usage
// @media (max-width: $screen-xs-max) { ... }
// @media (min-width: $screen-sm-min) { ... }
// @media (max-width: $screen-sm-max) { ... }
// @media (min-width: $screen-md-min) { ... }
// @media (max-width: $screen-md-max) { ... }
// @media (min-width: $screen-lg-min) { ... }


//@media (max-width: @screen-xs-max) { ... }
//@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
//@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
//@media (min-width: @screen-lg-min) { ... }


// added code for bootstrap 3 , for a row with no padding between columns.
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 ;
    padding-right: 0 ;
    margin-right: 0 ;
    margin-left:  0 ;
  }
}

//--------------------------------- FONTS


//@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,300);
//@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700);
//@import url(https://fonts.googleapis.com/css?family=Raleway:700);
//@import url(https://fonts.googleapis.com/css?family=Raleway:700,100,300,400);
//@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);


///* FONT FACE LOADER */
//@font-face {
//  font-family: 'Lane';
//  src: url('fonts/lanenar_Lane.eot');
//  src: url('fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('fonts/lanenar_Lane.woff') format('woff'), url('fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

//@media screen and (-webkit-min-device-pixel-ratio: 0) {
//
//  @font-face {
//    font-family: 'Lane';
//    src: url('fonts/lanenar_Lane.svg#Lane') format('svg');
//  }
//}
//@font-face {
//  font-family: 'Arimo';
//  src: url('../fonts/Arimo.eot'); /* IE9 Compat Modes */
//  src: url('../fonts/Arimo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//       url('../fonts/Arimo.woff2') format('woff2'), /* Super Modern Browsers */
//       url('../fonts/Arimo.woff') format('woff'), /* Pretty Modern Browsers */
//       url('../fonts/Arimo.ttf')  format('truetype'), /* Safari, Android, iOS */
//       url('../fonts/Arimo.svg#svgFontName') format('svg'); /* Legacy iOS */
//
//     }
