// ========== Website Footer


.footer {
  background: #212121;
  color: #fff;
  font-size: 14px;
  text-align: left;
  padding-top: 30px;
  //border-top: 5px solid #564363;
  border-top: 2px solid #303030;
  -webkit-box-shadow: 0 -7px 5px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -7px 5px 0 rgba(0,0,0,0.4);
  box-shadow: 0 -7px 15px 0 rgba(0,0,0,0.3);


}
.footer .borderized {
  border-left: 2px solid #3B3B3B;
}
.footer .padded {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 250px;
}

.footer-logo {
}
.footer-logo img {
  max-width: 150px;
}
.footer .title {
  color: #fff;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
  span {
    font-size: 24px;
    color: #efefef
  }
}

.footer .address,
.footer .email,
.footer .phone {
  position: relative;
  padding-top: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
  color: #efefef;
  //i {
  //  position: absolute;
  //
  //}
}
.footer .email a {
  color: #efefef;
}
.footer .phone a {
  color: #efefef;
}

.footer .email a:hover {
  color: #B2DD4C;
}
.footer .phone a:hover {
  color: #B2DD4C;
}

//.footer .address i {
//  font-size: 25px;
//  left: -30px;
//}
//.footer .email i {
//  font-size: 18px;
//  left: -32px;
//}
//.footer .phone i {
//  font-size: 30px;
//  left: -30px;
//}


.footer .address {
  //padding-top: 20px;

}

.footer-menu {
  list-style: none;
}

.footer-menu a {
  padding: 3px;
  color: #efefef;
  font-size: 14px;
  font-weight: 400;
}
.footer .copyright {
  margin-top: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
  background-color: #202020;
}

.footer hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(48, 48, 48, 0.5);

}


.social-networks a {
  display: inline-block;
  text-decoration: none;
  color: #efefef;
  font-size: 23px;
  margin: 5px;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;

}
.social-networks a:hover i {
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
  color: #B2DD4C;
}
#menu-menu-main-2 a:hover {
  color: #B2DD4C;
}





.something-else-list {
  list-style: none;
}
.something-else-list li {
  padding-bottom: 5px;
}
.something-else-list a {
  color: #efefef;
}
.something-else-list a:hover {
  color: #B2DD4C;
}


@media (max-width: $screen-xs-max) {
  .footer {
    text-align: center;
  }
  .footer .padded {
    border-bottom: 2px solid #3B3B3B;
    padding: 10px 5px;
    min-height: 0;
  }
  .footer .title {
    font-size: 18px;
  }
  .footer .title span {
    font-size: 20px;
  }
  .footer .address, .footer .email, .footer .phone {
    font-size: 14px;
  }
}


// ======== SHARING BUTTONS =========
.sharing-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;
}
ul.share-list {
  position: relative;
  top: 15px;
  margin-left: 30px;
  padding-left: 0px;
  display: inline-block;
  list-style: none;
  border-radius: 4px;
  border: 3px solid #564363;
  margin-bottom: 0;
  li {
    float: left;
    border-left: 3px solid #564363;
  }
  li:first-child{
    border: none;
  }
  li a {
    display: block;
    font-size: 22px;
    color: #564363;
    padding: 5px 14px;

  }
  li:hover {
    background-color: #B1DF3E;

    a {
      color: #564363;
    }
  }
}

.share-text {
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  vertical-align: center;
  color: #564363;

}

@media (max-width: $screen-sm-max) {
  .share-text {
    font-size: 16px;
  }
  ul.share-list {
    li a {
      font-size: 18px;
    }
  }
}


