
@import url(https://fonts.googleapis.com/css?family=Raleway:700,100,300,400);
@media screen {
    * {
        margin: 0;
        padding: 0; }

    body {
        background: white;
        font: 14px/1.4 'Raleway',Arial, Serif; }

    .screen-reader-text {
        position: absolute;
        left: -9999px;
        top: -9999px; }

    .clear {
        clear: both; }

    .group:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0; }

    * html .group, *:first-child + html .group {
        zoom: 1; }

    /* First selector = IE6, Second Selector = IE 7 */
    #page-wrap {
        width: 960px;
        margin: 20px auto; }

    h1, h2, h3 {
        font-weight: normal;
        margin: 0 0 10px 0; }

    p {
        margin: 0 0 10px 0; }

    ul, ol {
        margin: 0 0 10px 0; }

    ol.commentlist {
        list-style: none; }

    ol.commentlist li.comment {
        border-bottom: 1px dotted #666;
        padding: 10px; }

    ol.commentlist li.comment div.vcard cite.fn {
        font-style: normal; }

    ol.commentlist li.comment div.vcard img.avatar {
        float: right;
        margin: 0 0 10px 10px; }

    ol.commentlist li.comment div.comment-meta {
        font-size: 10px; }

    ol.commentlist li.comment div.comment-meta a {
        color: #ccc; }

    ol.commentlist li.comment div.reply {
        font-size: 11px; }

    ol.commentlist li.comment div.reply a {
        font-weight: bold; }

    ol.commentlist li.comment ul.children {
        list-style: none;
        margin: 10px 0 0; }

    ol.commentlist li.comment ul.children li.depth-2 {
        border-left: 5px solid #555;
        margin: 0 0 10px 10px; }

    ol.commentlist li.comment ul.children li.depth-3 {
        border-left: 5px solid #999;
        margin: 0 0 10px 10px; }

    ol.commentlist li.comment ul.children li.depth-4 {
        border-left: 5px solid #bbb;
        margin: 0 0 10px 10px; }

    ol.commentlist li.even {
        background: #fff; }

    ol.commentlist li.odd {
        background: #f6f6f6; }

    ol.commentlist li.parent {
        border-left: 5px solid #111; } }
/* END screen media */
@media print {
    .do-not-print {
        display: none; }

    #comments {
        page-break-before: always; }

    body {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        line-height: 1.4;
        word-spacing: 1.1pt;
        letter-spacing: 0.2pt;
        color: #000;
        background: none;
        font-size: 12pt; }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Railway', Arial, sans-serif; }

    h1 {
        font-size: 19pt; }

    h2 {
        font-size: 17pt; }

    h3 {
        font-size: 15pt; }

    h4, h5, h6 {
        font-size: 12pt; }

    code {
        font: 10pt Courier, monospace; }

    blockquote {
        margin: 1.3em;
        padding: 1em; }

    img {
        display: block;
        margin: 1em 0; }

    a img {
        border: none; }

    table {
        margin: 1px;
        text-align: left; }

    th {
        border-bottom: 1px solid #333;
        font-weight: bold; }

    td {
        border-bottom: 1px solid #333; }

    th, td {
        padding: 4px 10px 4px 0; }

    caption {
        background: #fff;
        margin-bottom: 2em;
        text-align: left; }

    thead {
        display: table-header-group; }

    tr {
        page-break-inside: avoid; }

    a {
        text-decoration: none;
        color: black; } }
/* END print media */


.row-no-padding [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0; }


img {
    width: 100%;
    height: auto;
}

a {
    color: #E62565;

}
a:focus, a:hover {
    color: #C41C66;
    text-decoration: underline;
}

.top-border {
    height:3px;
    width: 100%;
    border-top: 3px solid #564363 ;

}
.default-page {
    min-height: 100%;
    text-align: center;
    padding-top: 200px;

    #logo-wrap img {
        max-width: 300px;
    }
    .page-title {
        font-weight: bold;
        font-size: 55px;
        color: #5B4863;
        text-shadow: 2px 5px 50px #333;
    }
}



// ====== Contact form
.help-block {
    display: none
}
.has-error .help-block {
    display: block;
}
.has-error .details-err-msg {
    display: block;
}

.section.map {
    margin-top: -5px;
}

textarea#content {
    border-radius: 0;
    padding: 10px;
    resize: none;
    border-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


// ==== contact form - preview
.preview-wrap {
    z-index: 0;
}
.preview-title {
    padding-left: 110px;
    font-weight: 700;
    font-size: 18px;

}
.preview {
    color: #333;
    position: relative;
    margin: 20px auto;
    padding: 30px;
    max-width: 350px;
    height: 420px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.preview h3 {
    font-size: 12px;
}
.preview h4 {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.preview::before,
.preview::after {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 14px rgba(0,0,0,.7);
    z-index: -1;
    transition: all .3s ease-in-out;
}

.preview::before {
    left: 15px;
    transform: skew(-5deg) rotate(-5deg);
}

.preview::after {
    right: 15px;
    transform: skew(5deg) rotate(5deg);
}

.preview:hover::before,
.preview:hover::after {
    box-shadow: 0 2px 14px rgba(0,0,0,.4);
}

.preview:hover::before {
    left: 5px;
}

.preview:hover::after {
    right: 5px;
}


#letter-content {
    min-height: 260px;
    font-size: 12px;
    word-break: break-all;
}
.letter-sig {
    font-weight: 700;
}

.form-response-message {
    text-align: left;
    float: left;

    padding: 6px;
    font-size: 18px;
    border: 4px solid RGBA(178, 221, 76, 1.00);
}

.form-response-message.respose-fail {
    border: 4px solid RGBA(201, 23, 11, 1.00);

}

.loading-spinner {
    position: relative;
    top: 10px;
}

@media (max-width: $screen-md-max) {
    .preview-title {
        padding-left: 80px;
    }
}

@media (max-width: $screen-sm-max) {
    .preview-title {
        padding-left: 30px;
    }
    .contact-details {
        padding-top: 20px;
        padding-bottom: 20px;

        h2 {
            font-size: 25px;
        }
        h4 {
            font-size: 14px;
        }
        p {
            font-size: 12px;
        }
        .details-block {
            min-height: 115px;
        }

        .contact-details-spacer {
            padding: 10px;
        }
    }
    .contact-us {
        padding-top: 30px;
    }
    .contact-us .contact-title h1 {
        font-size: 25px;
        padding-bottom: 10px;
    }
    .contact-us .form h3 {
        font-size: 16px;
    }


}
@media (max-width: $screen-xs-max) {
    .preview-title {
        padding-left: 0px;
        text-align: center;
    }
    #map {
        height: 250px;
    }
    .contact-details {
        h2 {
            font-size: 20px;
        }
        .contact-details-spacer {
            padding: 0;
        }

        .details-block {
            min-height: 0;
        }


    }

    .contact-us .contact-title h1 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .contact-us input[type="text"], input[type="email"], textarea#content {
        padding: 10px;
    }
    .input-subject {
        height: 30px;
    }
    .btn-contact-wrap {
        text-align: center;
    }

    .preview {
        height: 400px;
    }
    #letter-content {
        min-height: 220px;
    }

    .preview-wrap {
        padding-top: 30px;
    }

}

@media (max-width: $screen-xxs) {
    #map {
        height: 200px;
    }
    .contact-details {
        h2 {
            font-size: 18px;
        }
        h4 {
            font-size: 12px;
        }
        p {
            font-size: 12px;
        }

    }
    .contact-us .form h3 {
        font-size: 14px;
    }
    .contact-us .btn-contact-wrap .btn-success {
        font-size: 14px;
    }
}

