// ===================================================================
// =================== intro Section =================================
// ===================================================================
.intro {
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100%;
  //background-color: red;
  //background: #2A2A2A url('img/intro/bg.jpg') center center;
  background: #2A2A2A;

  background-size: 100% 100%;
  padding-top: 100px;
}

.intro-title {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 55px;
  position: relative;
  top: -140px;

  span {
    font-weight: 400;
  }
}
.intro-subtitle {
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
  position: relative;
  top: -121px;
}

.intro-devices-wrap {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
}


.blur-it-not {
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px)!important;
  -o-filter: blur(0px)!important;
  -ms-filter: blur(0px)!important;
  filter: blur(0px)!important;
  transition: all 0.25s ease-out;
}

.intro .bounce-wrap-desktop {
  bottom: 0px;
}


@media (max-width: $screen-md-max) {
  .intro-title {
    top: -60px;
  }
  .intro-subtitle {
    font-size: 24px;
    top: -60px;
  }
}

// =================== Imac Section =================================

.imac-wrap {
  max-width:  1000px;
  margin: 0 auto;
  margin-top: -100px;
  .chalk-wrap {
    display: inline-block;
    position: relative;
    left: 400px;
    top: 75px;
    width: 50px;
    cursor: pointer;



    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    transition: all 0.5s ease-out;

  }

  .imac-hook {
    display: block;
    position: relative;
    top: -359px;
    left: 132px;
    width: 707px;
  }

  .imac-top-holder {
    display: block;

  }
  .chalk-text {
    position: relative;
    top: 30px;
    left: 60px;
    width: 80px;
  }
}


@media (max-width: $screen-md-max) {
  .imac-wrap {
    margin-top: -70px;
    max-width: 710px;

    .chalk-wrap {
      left: 263px;
      top: 45px;
    }
    .imac-hook {
      top: -254px;
      left: 93px;
      width: 504px;
    }
  }
}


// =================== macbookPro Section =================================
.macbook-wrap {
  position: absolute;
  top: 108px;
  left: 0px;
  max-width: 400px;
}

.macbook-wrap .chalk-wrap {
  width: 100px;
  position: relative;
  left: 28px;
  top: 133px;

  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  transition: all 0.5s ease-out;
}

.macbook-wrap .chalk-text {
  width: 150px;
  position: relative;
  left: -20px;
}

.macbook-wrap img:hover {
  cursor: pointer;
}
.macbook-wrap .chalk {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.macbook-hook {
  display: block;
  cursor: pointer;
}
//
//@media (max-width: $screen-lg-min) {
//  .macbook-wrap {
//    top: 80px;
//    left: -50px;
//    max-width: 400px;
//  }
//}

@media (max-width: $screen-md-max) {
  .macbook-wrap {
    left: 54px;
    top: 88px;
    max-width: 300px;

    .chalk-wrap {
      top: 86px;
      width: 67px;
      left: 29px;
    }
    .chalk-text {
      left: -39px;
    }
  }
}

// =================== macbookPro Section =================================

.ipad-wrap {
  position: absolute;
  top: 140px;
  right: 100px;
  max-width: 280px;
}

.ipad-wrap .chalk-wrap {
  width: 100px;
  position: relative;
  left: 214px;
  top: 90px;

  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  transition: all 0.5s ease-out;
}

.ipad-wrap .chalk-text {
  width: 150px;
  position: relative;
  left: -20px;
}

.ipad-wrap .chalk {
  //-moz-transform: scaleX(-1);
  //-o-transform: scaleX(-1);
  //-webkit-transform: scaleX(-1);
  //transform: scaleX(-1);
  //filter: FlipH;
  //-ms-filter: "FlipH";
}



@media (max-width: $screen-md-max) {

  .ipad-wrap {
    top: 100px;
    right: 101px;
    max-width: 204px;

    .chalk-wrap {
      width: 72px;
      left: 156px;
      top: 70px;

    }
    .chalk-text {
      width: 135px;
    }
  }

}





// =================== macbookPro Section =================================



.iphone-wrap {
  position: absolute;
  z-index: 2;
  right: 260px;
  top: 567px;
  max-width: 180px;
}


.iphone-wrap .chalk-wrap {
  width: 66px;
  position: relative;
  left: 136px;
  top: 154px;

  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  transition: all 0.5s ease-out;
}

.iphone-wrap .chalk-text {
  width: 150px;
  position: relative;
  left: 32px;
  top: -20px;
}




@media (max-width: $screen-md-max) {
  .iphone-wrap {
    max-width: 130px;
    right: 201px;
    top: 442px;


    .chalk-wrap {
      left: 102px;
      top: 98px;
    }
    .chalk-text {
      width: 128px;

    }
  }


}





// ===================================================================
// ======================= Section Intro Mobile ======================
// ===================================================================

.intro-mobile {
  position: relative;
  background: #2A2A2A;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}
.app-spacer {
  padding: 30px;
}
.app-wrap {
  max-width: 80px;
  text-align: center;
  margin: 0 auto;
}
.app-wrap a {
  display: block;
  margin: 0 auto;
}
.app-wrap img {
  border-radius: 25%;
}
.app-text {
  color:#fff;
  padding-top: 2px;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
}



.intro-mobile-logo-wrap {
  max-width: 200px;
  margin: 0 auto;
  position: relative;
  top: 50px;
}

// ========= animation arrow
.bounce-wrap {
  position: absolute;
  bottom: 50px;
  left: 50%;
  text-align: center;
}

.bounce-wrap .fa {
  width: 55px;
  display: block;
  text-align: center;
  color:#FFF;
  font-weight:100;
  font:100 30px 'FontAwesome';
  line-height:55px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fa-angle-double-down:before {content: "\f103";}

.bounce2 {
  position: absolute;
  bottom: 30px;
  left: 50% ;
  width: 60px;
  height: 60px ;
  margin-left:-30px;
  border: 3px solid rgba(255,255,255, 0.5);
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  border-radius:50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce2 2s infinite;
  -moz-animation: bounce2 2s infinite;
  -o-animation: bounce2 2s infinite;
}

@-webkit-keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}


@media (max-width: $screen-sm-max) {
  .intro-mobile {
    padding-top: 30px;
  }
  .app-wrap {
  }
  .app-spacer {
    padding: 10px;
  }
}

// ===================================================================
// ======================= END: Section Intro Mobile =================
// ===================================================================

// ===================================================================
// ======================= Section About GRapps ======================
// ===================================================================

.focus-test {
  position: absolute;
  font-size: 60px;
  z-index: 3;
  color: #564363;
  color: rgba(86, 67, 99, 0.1);
  //text-shadow: 3px 3px #fff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

  top: 280px;
  left: -160px;
}



#about {
  position: relative;
  width: 100%;
  //margin-bottom: 200px;
  padding: 60px 20px 120px 20px;
  background: #fff;
  //background: linear-gradient(to right bottom, rgba(86, 68, 98, 0.9) 50%, #fff 50%);
  //background: rgba(86, 68, 98, 0.6);
  background: #fefefe;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden; }

.about-content {
  position: relative;
  //top: 150px;
  padding: 20px;
  padding-left: 120px;
  min-height: 450px;
}


.about-content h2 {
  font-size: 35px;
  padding-top: 10px;
  font-weight: 900;
}

.about-content h2:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}

//.about-content h2 {
//  font-size: 35px;
//  font-weight: 100;
//  text-transform: uppercase;
//}

.about-content p {
  font-size: 14px;
  line-height: 25px;
}

.about-typo {
  //font-family: 'Roboto', sans-serif;
  position: relative;
  top: 92px;
  font-size: 24px;
  text-align: center;
  color: #444;
}

.about-typo span {
  display: block;
  position: relative;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.about-typo .about-typo .typo-sidecode {
  -webkit-transition: all 50ms ease-in;
  -moz-transition: all 50ms ease-in;
  -o-transition: all 50ms ease-in;
  transition: all 50ms ease-in;
}

.about-typo span strong {
  -webkit-transition: all 50ms ease-in 50ms;
  -moz-transition: all 50ms ease-in 50ms;
  -o-transition: all 50ms ease-in 50ms;
  transition: all 50ms ease-in 50ms;
}

.about-typo .typo-tech {
  font-weight: 900;
  font-size: 43px;
}

.about-typo .typo-focus {
  top: -15px;
  font-weight: 300;
  font-size: 39px;
}

.about-typo .typo-sidecode {
  top: -38px;
  right: 2px;
  font-size: 77px;
  font-weight: 400;
}
.about-typo .typo-sidecode strong {
  font-weight: 600;

}

.about-typo .typo-creative {
  top: -73px;
  font-weight: 100;
  font-size: 64px;
}

.about-typo .typo-bus {
  top: -94px;
  font-weight: 800;
  font-size: 37px;
}


.about-typo:hover .typo-tech {
  color: #32C0FF;
}


.about-typo:hover .typo-focus {
  color: #FF5C4A;
}


.about-typo:hover .typo-sidecode {
  color: #564363;
}


.about-typo:hover .typo-sidecode strong {
  color: #444;
}


.about-typo:hover .typo-creative {
  color: #FF5C4A;
}


.about-typo:hover .typo-bus {
  color: #B2DD4C;
}


.about-typo:hover .typo-focus {
  color: #FF4BB4;
}

@media (max-width: $screen-sm-max) {
  #about {
  }
  .about-content {
    padding-left: 0px;
    font-size: 12px;
  }
  .about-content p {
    font-size: 12px;
  }
  .focus-test {
    opacity: 1;
    font-size: 65px;
    position: relative;
    top: 0;
    left: auto;
    text-align: center;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  .about-typo .typo-tech {
    font-size: 35px;
  }

  .about-typo .typo-focus {
    top: -13px;
    font-size: 31px;
  }

  .about-typo .typo-sidecode {
    top: -38px;
    right: 2px;
    font-size: 61px;
  }

  .about-typo .typo-creative {
    top: -69px;
    font-size: 51px;
  }

  .about-typo .typo-bus {
    top: -90px;
    font-size: 30px;
  }

}

@media (max-width: $screen-xs-max) {
  .focus-test {
    font-size: 35px;
    top: 0px;
  }
  #about {

    padding-top: 10px;
    padding-bottom: 0;
  }
  .about-content {
    padding: 10px;
    min-height: 0;
  }
  .about-content h2 {
    font-size: 22px;
    margin-top: -5px;
    padding-top: 0;
  }
  .about-content p {
    line-height: 20px;
  }
  .about-typo {
    top: 10px;
    min-height: 0;
    height: auto;
    position: static;
  }



}


// ===================================================================
// ==================== END: Section About GRapps ====================
// ===================================================================

// ===================================================================
// ======================= Section Services ==========================
// ===================================================================

section.services {
  padding-top: 50px;
  margin-top: -125px;
  background-color: #F0F2F1;
  box-shadow: 0 0 35px rgba(0,0,0,.3);


}

.icon-wrap {
  display: inline-block
}

.icon-wrap.circle {
  background-color: #b2dd4c;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out


}

.icon-wrap.circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%
}

.icon-wrap.circle.checked {
  position: relative
}
.icon-wrap.circle.checked:after,
.icon-wrap.circle.checked:before {
  display: block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #b2dd4c;
  position: absolute;
  color: #fff
}
.icon-wrap.circle.checked:before {
  width: 44px;
  height: 44px;
  bottom: 0;
  font-size: 16px;
  line-height: 44px;
  right: -12%;
  z-index: 9;
  content: "\e080";
  font-family: simple-line-icons;
  webkit-transition: opacity .3s cubic-bezier(.39, .58, .57, 1) .1s;
  transition: opacity .3s cubic-bezier(.39, .58, .57, 1) .1s
}

.services-underline-icon-box-holder.services-background-animation:hover .services-underline-icon-box-text-holder .services-underline-icon-box-text,
.services-underline-icon-box-holder.services-background-animation:hover .services-underline-icon-box-underline {
  height: 100%
}

.service-holder .service-item {
  display: inline-block;
  vertical-align: top
}
.service-holder .service-item .item-wrapper {
  position: relative
}
.service-holder .service-item .item-wrapper:after {
  //content: "";
  //width: 40%;
  //position: absolute;
  //border-bottom: 2px dashed #dadada;
  //top: 50%;
  //left: 100%;
  //transform: translateX(50%)
}
.service-holder .service-item .service-item-icon-holder {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  border: 3px solid #e1e1e1;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: border .3s cubic-bezier(.25, .46, .45, .94);
  transition: border .3s cubic-bezier(.25, .46, .45, .94)
}
.service-holder .service-item .icon-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  line-height: 0;
  border-radius: 50%;
  border: 0 solid transparent;
  box-sizing: border-box;
  -webkit-transition: border .3s cubic-bezier(.25, .46, .45, .94);
  transition: border .3s cubic-bezier(.25, .46, .45, .94)
}
.service-holder .service-item .icon-wrap.circle {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #797979;
  border: 0
}
.service-holder .service-item .icon-wrap.circle .icon-elem {
  color: #fff;
  position: relative;
  top: 8px;
  font-size: 35px
}

.services #tabs li:last-child .item-wrapper:after {
  border: none;
}


@media (max-width: $screen-sm-max) {
  section.services {
    margin-top: -105px;
  }
    .icon-wrap.circle.checked:before {
    width: 44px;
    height: 44px;
    line-height: 44px;
  }

  .service-holder .service-item .service-item-icon-holder {
    width: 90px;
    height: 90px;
  }

  .service-holder .service-item .icon-wrap.circle {
    width: 45px;
    height: 45px;
    line-height: 38px;
  }

  .service-holder .service-item .icon-wrap.circle .icon-elem {
    font-size: 25px;
  }

  .services .nav-tabs > li, .nav-pills > li {
    width: 130px !important;
  }

  .service-holder .service-item .item-wrapper:after {
    width: 28%;
  }

}
@media (max-width: $screen-xs-max) {
  .icon-wrap.circle.checked:before {
    width: 44px;
    height: 44px;
    line-height: 44px;
  }

  .service-holder .service-item .service-item-icon-holder {
    width: 50px;
    height: 50px;
  }

  .service-holder .service-item .icon-wrap.circle {
    width: 35px;
    height: 35px;
    line-height: 20px;
  }

  .service-holder .service-item .icon-wrap.circle .icon-elem {
    font-size: 20px;
  }

  .services .nav-tabs > li, .nav-pills > li {
    width: 65px !important;
  }

  .service-holder .service-item .item-wrapper:after {
    border: none;
  }
  .nav>li>a {
    padding: 0;
  }

}



// ===== Hover effect

.service-holder .service-item:hover .service-item-icon-holder {
  border-color: #b2dd4c
}
.service-holder .service-item:hover .icon-wrap.circle {
  background-color: #b2dd4c
}
.service-holder .service-item:hover .icon-bg {
  border: 20px solid rgba(178, 221, 76, .3);
  -webkit-transition: border .6s cubic-bezier(.32, 1.63, .44, 1.82);
  transition: border .6s cubic-bezier(.32, 1.63, .44, 1.82)
}

.services .nav-tabs>li.active .service-item .service-item-icon-holder {
  border-color: #b2dd4c
}
.services .nav-tabs>li.active .service-item .icon-wrap.circle {
  background-color: #b2dd4c
}
.services .nav-tabs>li.active .service-item .icon-bg {
  border: 20px solid rgba(178, 221, 76, .3);
  -webkit-transition: border .6s cubic-bezier(.32, 1.63, .44, 1.82);
  transition: border .6s cubic-bezier(.32, 1.63, .44, 1.82)
}


// tab fixes
.services .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: none;
}
.nav-tabs {
  border: none;
}

.services .nav-tabs > li, .nav-pills > li {
  float:none;
  width:210px;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}

.services .nav-tabs, .nav-pills {
  text-align:center;
}
.nav-tabs>li>a:hover,
.nav-tabs>li.active > a,
.nav-tabs>li.active > a:hover,
.nav-tabs>li.active>a:focus{
  background-color: transparent;
  border: none;
}

.tab-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
// = tab content
.tab-title {
  position: relative;
  font-weight: 700;
}
.tab-text {
  line-height: 1.6;
  font-weight: 400;
  color: #838485;
}

.tab-title:after {
  //content: "";
  //width: 55px;
  //height: 3px;
  //background-color: #dadada;
  //position: absolute;
  //left: 0;
  //bottom: 0;
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}

.bordred-img {
  //border: 6px solid #fff;
  //border-radius: 3px;
  //box-shadow: 0 1px 4px rgba(0,0,0,.24);
  width: 80%;
  float: right;
  height: auto;
}

@media (max-width: $screen-xs-max) {
  section.services {
    padding-top: 40px;
    margin-top: -66px;

  }
  .tab-content {
    padding-top: 20px;
  }
  .tab-title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 10px;
  }
  .tab-title:after {
      display: none;
  }
  .bordred-img {
    text-align: center;
    float: none;
    margin: 0 auto;
    width: 100%;
  }
}


// ======= Portfolio ============



section.portfolio {
  padding-top: 50px;
  padding-bottom: 50px;
}
section.portfolio h2.title {
  display: inline-block;
  margin: 0;
}
section.portfolio h5 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
section.portfolio h2.title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto;
}

@media (max-width: $screen-xs-max) {
  section.portfolio {
    padding-top: 20px;
    padding-bottom: 20px;
    .headline {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .headline .title {
      font-size: 28px;
      margin-bottom: 10px;
      padding-bottom: 0;
    }
    .headline .subtitle {
      font-size: 14px;
    }
    #filters {
      padding: 0 10px 10px 10px;
    }
    #filters li {
      width: 50%;
      padding: 2px;

    }
    #filters li:first-child {
      width: 100%;
    }
    #filters li a {
      font-size: 10px;
      display: inline-block;
      width: 136px;
      //border: 2px solid #202020;

    }

  }
}


// ======= Facebook page plugin
//
//
////
////
//// .fb-page, .fb-page:before, .fb-page:after {
////   border: 1px solid #ccc;
//// }
////
////.fb-page:before, .fb-page:after {
////  content: "";
////  position: absolute;
////  bottom: -3px;
////  left: 2px;
////  right: 2px;
////  height: 1px;
////  border-top: none
////}
////
////.fb-page:after {
////  left: 4px;
////  right: 4px;
////  bottom: -5px;
////  box-shadow: 0 0 2px #ccc
////}
//.fb-page {
//  box-shadow: 0 0 35px rgba(0,0,0,.5);
//
//}
//
//.facebook {
//  box-shadow: 0 0 35px rgba(0,0,0,.3);
//
//  border-bottom: 10px solid #6C83B6;
//  border-top: 10px solid #6C83B6;
//
//  padding: 50px 20px;
//  overflow: auto;
//  color: #fff;
//  background-color: #FAFDFF;
//  background-color: #39579A;
//
//
//}
//
//.fb-container {
//  padding: 0 20px;
//}
//
//.fb-content {
//  color: #39579A;
//  color: #fff;
//}
//
//.fb-content .title {
//  display: inline-block;
//  font-size: 30px;
//  padding-top: 130px;
//  font-weight: 700;
//}
//
//.fb-content .subtitle {
//  font-size: 16px;
//  padding-top: 10px;
//
//}
//.fb-content .subtitle-right {
//  padding-left: 35px;
//  padding-top: 10px;
//}
//.fb-content .p-right {
//  padding-left: 35px;
//}
//
////.fb-content .title:after {
////  content: "";
////  display: block;
////  background: #fff;
////  width: 100%;
////  height: 3px;
////  margin-top: 10px;
////  margin-bottom: 10px;
////}
//
//.bounce {
//  -moz-animation: bounce 2s infinite;
//  -webkit-animation: bounce 2s infinite;
//  animation: bounce 2s infinite;
//}
//
//
//@-moz-keyframes bounce {
//  0%, 20%, 50%, 80%, 100% {
//    -moz-transform: translatex(0);
//    transform: translateY(0);
//  }
//  40% {
//    -moz-transform: translateX(-30px);
//    transform: translateX(-30px);
//  }
//  60% {
//    -moz-transform: translateX(-15px);
//    transform: translateX(-15px);
//  }
//}
//@-webkit-keyframes bounce {
//  0%, 20%, 50%, 80%, 100% {
//    -webkit-transform: translateX(0);
//    transform: translateX(0);
//  }
//  40% {
//    -webkit-transform: translateX(-30px);
//    transform: translateX(-30px);
//  }
//  60% {
//    -webkit-transform: translateX(-15px);
//    transform: translateX(-15px);
//  }
//}
//@keyframes bounce {
//  0%, 20%, 50%, 80%, 100% {
//    -moz-transform: translateX(0);
//    -ms-transform: translateX(0);
//    -webkit-transform: translateX(0);
//    transform: translateX(0);
//  }
//  40% {
//    -moz-transform: translateX(-30px);
//    -ms-transform: translateX(-30px);
//    -webkit-transform: translateX(-30px);
//    transform: translateX(-30px);
//  }
//  60% {
//    -moz-transform: translateX(-15px);
//    -ms-transform: translateX(-15px);
//    -webkit-transform: translateX(-15px);
//    transform: translateX(-15px);
//  }
//}
//
//
//@media (max-width: $screen-sm-max) {
//  section.facebook {
//    padding: 0;
//  }
//  .fb-content .title {
//    text-align: center;
//    padding-top: 20px;
//    font-size: 24px;
//  }
//  .fb-content {
//    text-align: center;
//    font-size: 14px;
//
//    padding-bottom: 20px;
//  }
//  .fb-container {
//    width: 280px;
//    margin: 0 auto;
//  }
//  .fb-content .subtitle-right {
//    padding-top: 5px;
//    padding-left: 0;
//  }
//}



// ===================================================================
// ======================= Client Section ============================
// ===================================================================



section.clients {
  position: relative;
  //background: rgba(240, 242, 241, 1.00);
  padding-bottom: 60px;
  padding-top: 30px;

  //min-height: 600px;
  box-shadow: 0 0 35px rgba(0,0,0,.3);
  box-shadow: 0 0 35px RGBA(86, 67, 99, .5);

}
section.clients h2.title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto;
}



.clients h5 {
  font-size: 16px;
}

.clients .container {
  padding-left: 60px;
  padding-right: 60px;
}

//.clients-side-text {
//  text-transform: uppercase;
//  position: absolute;
//  font-size: 60px;
//  z-index: 3;
//  color: rgba(255, 255, 255, 0.8);
//  -webkit-transform: rotate(90deg);
//  -moz-transform: rotate(90deg);
//  -o-transform: rotate(90deg);
//  -ms-transform: rotate(90deg);
//  transform: rotate(90deg);
//  top: 280px;
//  left: -160px;
//}
//

.client-slider.slick-initialized .slick-slide{
  min-height: 0;
  height:auto;
}



.client-slider .slick-slide {
  min-height: 0;
  height:auto;
  padding: 30px;

}

.client-slider .slick-slide:focus {
  outline: none

}


.client-slider .slick-slide img {
  position: relative;
  display: block;
  max-width: 160px;
  max-height: 70px;
  min-height: 0;
  margin: 0 auto;

  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
  -webkit-transition: all 500ms ease .1s;
  -moz-transition: all 500ms ease .1s;
  -o-transition: all 500ms ease .1s;
  transition: all 500ms ease .1s;
}

.client-slider .slick-slide img:hover {
  -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
  filter: grayscale(0);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}



@media (max-width: $screen-xs-max) {
  .clients h5 {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 24px;
  }
}



//
//// ========== Client Slider
//.client-slider.slick-initialized .slick-slide{
//  min-height: 0;
//  height:auto;
//}
//.client-slider .slide-wrap {
//  //border: 2px solid pink;
//  text-align: center
//}
//
//
//
//.client-slider .slick-list {
//  padding-top: 60px;
//  height: 600px;
//}
//
//
//
//
//.client-slider .slick-slide {
//  min-height: 0;
//  height:auto;
//  padding: 30px;
//
//}
//
//.client-slider .slick-slide:focus {
//  outline: none
//
//}
//
//
//.client-slider .slick-slide img {
//  position: relative;
//  display: block;
//  width: 160px;
//  height: 70px;
//  min-height: 0;
//  margin: 0 auto;
//
//  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
//  filter: grayscale(100%);
//
//  -webkit-transition: all 500ms ease-out .3s;
//  -moz-transition: all 500ms ease-out .3s;
//  -o-transition: all 500ms ease-out .3s;
//  transition: all 500ms ease-out .3s;
//
//}
//
//
//.client-slider .slick-current img {
//  -webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
//  filter: grayscale(0);
//  -webkit-transform: scale(1.2);
//  -ms-transform: scale(1.2);
//  transform: scale(1.2);
//}
//




//// ======== client fields
//.client-wrap{
//  position: relative;
//  display: none;
//  top: 60px;
//  margin-left:-100%;
//  margin-right:-100%;
//
//
//}
//.client-slider .slick-current .client-wrap {
//  display: block;
//
//}
//.client-name {
//  position: relative;
//  font-weight: 100;
//  text-transform: uppercase;
//  text-align: left;
//  left: -176px;
//  font-size: 32px
//}
//
//
//// ==== slider controllers
//
//.client-slider .slick-prev,
//.client-slider .slick-next {
//  width: 55px;
//  height: 55px;
//  background: rgba(255, 255, 255, 0.5);
//
//}
//
//
//.client-slider .slick-prev:before,
//.client-slider .slick-next:before {
//  font-family: 'FontAwesome';
//  font-size: 26px;
//  line-height: 1;
//  opacity: .75;
//  color: #333;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}
//
//.client-slider .slick-prev,
//.client-slider .slick-next {
//  font-size: 0;
//  line-height: 0;
//  position: absolute;
//  top: 65px;
//  display: block;
//  width: 20px;
//  height: 20px;
//  padding: 0;
//  margin-top: -10px;
//  -webkit-transform: none;
//  -ms-transform: none;
//  transform: none;
//  cursor: pointer;
//  color: transparent;
//  border: none;
//  outline: none;
//  background: transparent;
//}
//
//.client-slider  .slick-prev {
//  left: -30px;
//  z-index: 2;
//}
//



// ===================================================================
// ======================= END: Client Section =======================
// ===================================================================



// ======= Portfolio ============



section.recentArticles {
  padding-top: 50px;
  padding-bottom: 50px;
 background-color: #EEEEEE;
  min-height: 500px;
}
section.recentArticles h2.title {
  display: inline-block;
  margin: 0;
}
section.recentArticles h5 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
section.recentArticles h2.title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto;
}

@media (max-width: $screen-xs-max) {
  section.recentArticles {
    padding-top: 20px;
    padding-bottom: 20px;
    .headline {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .headline .title {
      font-size: 28px;
      margin-bottom: 10px;
      padding-bottom: 0;

    }
    .headline .subtitle {
      font-size: 14px;
    }



  }
}

section.recentArticles {
  .card-wrap-title {

    //background-color: #fff;
    //margin-bottom: 1.6rem;
    //border-radius: 2px;
    //box-shadow:
    //    0 1px 3px rgba(0,0,0, 0.12),
    //    0 1px 2px rgba(0,0,0, 0.24);
    //margin-bottom: 1.6em;
  }

  a {
    color: #9ec542;
  }

  .card-wrap {

    background-color: #fff;
    margin-bottom: 1.6rem;
    border-radius: 2px;
    box-shadow:
        0 1px 3px rgba(0,0,0, 0.12),
        0 1px 2px rgba(0,0,0, 0.24);
  }


  .card-image {
    min-height: 100px;
    max-height: 210px;
    background-color: #eee;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden;
  }

  .card-image img {
    width: 100%;
    max-width: 100%;
    display: block;
  }

  .card-content {
    position: relative;
    padding: 1.6rem;
    min-height: 192px;
  }

  .card-excerpt {
    color: #666666;
  }
  .card-category {
    font-weight: 700;
  }

  .card-meta {
    text-align: left;
  }
  .card-meta time {
    font-size: 1.5rem;
    color: #bbb;
    margin-left: 0.8rem;
  }

  .card-article {
    padding-top:15px;
  }
  .card-article h2 {
    font-weight: bold;
    font-size: 20px;
  }

  .card-article a {
    text-decoration: none;
    color: #444;
    transition: all 0.5s ease;
  }
  .card-article a:hover {
    color: #9ec542;
  }

  /* card action */
  .card__action {
    overflow: hidden;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem;
  }

  .card-author {
    font-weight: 700;
    text-align: left;
    color: #9ec542;
  }
  .card-author img,
  .card-author-content {
    display: inline-block;
    vertical-align: middle;
  }

  .card-author img{
    border-radius: 50%;
    margin-right: 0.6em;
  }

  // share button
  .card-share {
    float: right;
    position: relative;
    margin-top: -42px;
  }

  .card-social {
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 160px;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease;
  }
  .card-social--active {
    visibility: visible;
    /*z-index: 3;*/
    transform: translateZ(0);
    transform: translateX(-48px);
    transition: transform 0.35s ease;
  }

  .share-toggle {
    z-index: 2;
  }
  .share-toggle:before {
    content: "\f1e0";
    font-family: 'FontAwesome';
    color: #9ec542;
  }
  .share-toggle.share-expanded:before {
    content: "\f00d";
  }

  .share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;

    box-shadow:
        0 2px 4px rgba(0,0,0, 0.12),
        0 2px 4px rgba(0,0,0, 0.24);
  }
  .share-icon:hover,
  .share-icon:focus {
    text-decoration: none;
    box-shadow:
        0 3px 6px rgba(0,0,0, 0.12),
        0 3px 6px rgba(0,0,0, 0.24);

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  .facebook {
    background-color: #3b5998;
  }
  .twitter {
    background-color: #00abe3;
  }
  .googleplus {
    background-color: #d3492c;
  }

  .facebook,
  .twitter,
  .googleplus {
    color: #fff;
  }

  .facebook:hover,
  .twitter:hover,
  .googleplus:hover {
    color: #eee;
  }

}



