@import url(https://fonts.googleapis.com/css?family=Raleway:700,100,300,400);
.row-no-padding [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0; }

.col-xs-12 {
  padding-left: 0;
  padding-right: 0; }

body {
  font: 14px/1.4 'Raleway', Serif !important; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Raleway', sans-serif !important; }

.grapps-logo {
  position: relative;
  padding-top: 30px;
  padding-left: 30px;
  display: block;
  text-align: center;
  z-index: 2; }

.grapps-logo-top {
  position: absolute;
  top: 0px;
  float: left; }

.grapps-logo img {
  max-width: 200px;
  width: 100%;
  height: auto; }

.alpha img {
  position: relative;
  top: -7px;
  max-width: 80px; }

.alpha-2 img {
  position: relative;
  top: -4px;
  max-width: 40px; }

.alpha-form {
  width: 28%; }

.liner-grsprints {
  font-weight: 400;
  font-size: 70px;
  letter-spacing: 2px;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
  padding-left: 20px; }
  .liner-grsprints strong {
    font-size: 99px; }

.liner-run {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 2px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding-left: 20px; }

.top-row {
  margin-top: -70px; }

.bg-img {
  width: 100%;
  position: fixed;
  min-height: 900px;
  background: url("../img/grteams/bg.jpg") no-repeat center;
  background-size: cover;
  padding-bottom: 200px;
  top: 0;
  z-index: 0; }

#top-container {
  width: 100%;
  padding-top: 50px;
  position: fixed;
  background-size: cover;
  padding-bottom: 250px;
  top: 0;
  z-index: 3; }

.whiteBgSection {
  background: #fff;
  position: relative;
  z-index: 3; }

.triangleTop {
  position: absolute;
  top: -79px;
  width: 100%;
  height: 80px;
  display: block;
  z-index: 99; }

.top-img-slider {
  max-width: 559px;
  width: 100%;
  height: auto;
  padding: 0px;
  border-width: 0px;
  margin-left: 0px;
  margin-top: 0px;
  transform-origin: 50% 50% 0px;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1);
  opacity: 1;
  visibility: visible;
  filter: none; }

.sliderText {
  padding-left: 20px;
  text-align: center;
  margin-top: -0px;
  position: relative;
  color: white;
  font-size: 36px;
  font-weight: 300;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2); }

.second-line-wrap {
  padding-top: 40px;
  padding-bottom: 40px; }

.second-line {
  font-weight: 700;
  font-size: 55px;
  letter-spacing: 2px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.1); }

.third-line {
  font-weight: 700;
  font-size: 30px; }

.buttonBig {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  padding: 18px 35px;
  border: 2px solid #fff;
  -webkit-border-radius: 350px;
  -moz-border-radius: 350px;
  border-radius: 350px;
  transform: translate3d(0px, 0px, 0px);
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s !important;
  -webkit-transition: color 0.3s, background-color 0.3s !important;
  top: 300px;
  left: 550px;
  width: auto;
  height: auto;
  font-size: 18px;
  font-weight: 700;
  padding: 18px 35px;
  border-width: 2px;
  margin-left: 0px;
  margin-top: 0px;
  text-decoration: none; }

.buttonBig:hover, .buttonBig:focus {
  background: #B2DD4C;
  color: #594666;
  text-decoration: none; }

.buttonBig:focus {
  background: transparent;
  color: #fff; }

.slider-p-text {
  padding-top: 0px;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  padding-bottom: 20px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.3); }

.slider-p-text p {
  font-weight: 700;
  letter-spacing: 1px; }

#aboutContainer {
  padding-top: 60px;
  position: relative;
  margin-top: 853px;
  z-index: 3; }
  #aboutContainer .about-content {
    padding-top: 120px;
    padding-left: 0; }
  #aboutContainer .about-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; }

.title-about-sec {
  margin-top: 40px;
  padding-top: 30px; }

.about-grapps {
  position: relative; }

#aboutContainer .focus-test {
  top: 200px; }

.button-wrap {
  text-align: center;
  padding-top: 20px; }

.the-how {
  position: relative;
  background: url("../img/landing50k/bg-texture1.jpg") no-repeat center center;
  background-size: 100% 100%;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 200px;
  text-align: center;
  font-weight: 800;
  background-attachment: fixed;
  width: 100%; }
  .the-how h2 {
    font-weight: 600;
    font-size: 35px;
    color: #fff; }
  .the-how h2:after {
    content: "";
    background-color: #7B6B87;
    width: 60px;
    height: 2px;
    display: block;
    margin: 15px auto; }
  .the-how h3 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 50px;
    color: #fff; }
  .the-how p {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px; }

.triangleBottom {
  position: absolute;
  bottom: -129px;
  width: 100%;
  height: 80px;
  display: block;
  z-index: 99; }

.the-process {
  position: relative;
  margin-top: 50px;
  padding-top: 50px;
  text-align: center;
  font-weight: 800;
  padding-bottom: 100px; }
  .the-process h2 {
    font-weight: 700; }
  .the-process h2:after {
    content: "";
    background-color: #7B6B87;
    width: 60px;
    height: 2px;
    display: block;
    margin: 15px auto; }
  .the-process h3 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 50px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 28px; }
  .the-process .triangleTop {
    top: -130px; }

.iconColWrap {
  text-align: center; }
  .iconColWrap h3 {
    font-weight: 700;
    padding-bottom: 10px; }
  .iconColWrap p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px; }

.iconColWrap i.fa {
  width: 100px;
  height: 100px;
  font-size: 34px;
  border: 2px solid #594666 !important;
  color: #594666 !important;
  padding: 32px;
  background: transparent;
  -webkit-border-radius: 350px;
  -moz-border-radius: 350px;
  border-radius: 350px;
  cursor: default;
  transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  margin-bottom: 35px; }

.iconColWrap:hover i.fa {
  color: #fff !important;
  background: #594666 !important; }

#contactUs {
  position: relative;
  z-index: 3;
  box-shadow: none;
  padding-top: 130px;
  padding-bottom: 130px;
  background: url("../img/landing50k/bg-texture1.jpg") no-repeat top right;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: #fff; }
  #contactUs h2 {
    font-weight: 600;
    font-size: 35px;
    color: #fff;
    text-align: center; }
  #contactUs h2:after {
    content: "";
    background-color: #7B6B87;
    width: 60px;
    height: 2px;
    display: block;
    margin: 15px auto; }

#contactUs .triangleBottom {
  bottom: auto;
  top: 0; }

@media (max-width: 767px) {
  .triangleBottom {
    bottom: -77px; } }

.contact-details {
  position: relative;
  z-index: 3;
  background: #fff; }

.contact-us input[type="text"], input[type="email"] {
  border-radius: 5px !important;
  height: 40px !important; }

.input-subject {
  height: 40px !important; }

textarea#content {
  border-radius: 5px !important; }

.preview-title {
  font-size: 22px !important; }

.preview-title {
  font-size: 18px !important; }

.btn-contact-wrap .btn-success {
  position: relative;
  left: 3px;
  background-color: #564363 !important;
  color: #fff !important;
  padding: 10px 30px !important; }

footer {
  text-align: center; }

footer .fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 55px;
  height: 55px; }

footer i.fa {
  font-size: 24px;
  border: 2px solid #564363;
  color: #564363;
  padding: 14px;
  min-width: 26px;
  background: transparent;
  -webkit-border-radius: 350px;
  -moz-border-radius: 350px;
  border-radius: 350px;
  transition: background 0.3s, color 0.3s;
  -webkit-transition: background 0.3s, color 0.3s;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  margin: 0px 10px;
  text-align: center; }

.separator80 {
  padding: 20px; }

footer i:hover {
  color: #fff;
  background-color: #564363; }

@media (max-width: 1199px) {
  .slider-p-text {
    font-size: 18px; } }

@media (max-width: 767px) {
  #top-container {
    padding-bottom: 320px;
    padding-top: 20px; }
  .grapps-logo {
    padding-top: 20px; }
  .grapps-logo img {
    max-width: 120px; }
  .top-row {
    margin-top: 0; }
  .top-img-slider {
    position: relative;
    top: -35px;
    right: 20px;
    max-width: 120px;
    float: right; }
  .sliderText {
    padding-top: 0px;
    font-size: 25px; }
  .grapps-logo-top {
    position: relative;
    padding: 0;
    float: none; }
  .alpha img {
    max-width: 35px;
    top: -3px; }
  .sliderText {
    padding: 10px; }
  .ls-l {
    display: none; }
  .bg-img {
    min-height: 500px; }
  .liner-grsprints {
    padding: 0;
    font-size: 24px;
    font-weight: 700; }
  .liner-run {
    font-size: 22px; }
  .second-line-wrap {
    padding: 20px; }
  .second-line {
    font-size: 20px;
    line-height: 30px; }
  .third-line {
    font-size: 16px;
    font-weight: 300; }
  .slider-p-text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 18px; }
  .slider-p-text p {
    font-weight: 400; }
  .button-wrap {
    text-align: center; }
  .buttonBig {
    padding: 10px 15px; }
  #aboutContainer {
    padding-top: 30px;
    margin-top: 503px; }
    #aboutContainer .triangleBottom {
      bottom: -80px; }
  #about2Container {
    position: relative;
    z-index: 1330; }
  #about2Container .about-content {
    text-align: center; }
  #about2Container .about-content h2:after {
    display: block;
    margin: 15px auto; }
  .whiteBgSection {
    z-index: 222; }
  .about-grapps .about-content-bottom {
    padding-top: 20px !important; }
  #aboutContainer .focus-test {
    top: -10px; }
  #aboutContainer .about-content {
    padding-top: 20px;
    text-align: center; }
  #aboutContainer .about-content h2:after {
    display: block;
    margin: 15px auto; }
  #aboutContainer .about-content p {
    font-size: 14px; }
  .title-about-sec {
    margin-top: 20px !important; }
  .the-how {
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px; }
    .the-how h2 {
      font-size: 22px; }
    .the-how h3 {
      font-size: 18px; }
    .the-how p {
      font-size: 14px;
      line-height: 22px; }
  .the-process {
    padding-top: 0px;
    padding-bottom: 50px; }
    .the-process h2 {
      font-size: 22px; }
    .the-process h3 {
      font-size: 16px;
      padding-bottom: 10px; }
    .the-process .iconColWrap {
      padding-bottom: 30px; }
    .the-process .iconColWrap h2 {
      margin-bottom: 5px;
      padding-bottom: 5px; }
    .the-process .iconColWrap i.fa {
      margin-bottom: 10px; }
  .process-bubbles {
    padding-left: 20px;
    padding-right: 20px; }
  #contactUs {
    padding-top: 80px; }
  .contact-us .contact-title h2 {
    font-size: 22px !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    font-weight: 700 !important; }
  .contact-us .form h3 {
    text-align: center; }
  .preview-title {
    font-size: 14px !important; } }

@media (max-width: 330px) {
  .slider-p-text {
    font-size: 12px; }
  .buttonBig {
    padding: 5px 10px; } }

.iconColWrap i.fa-code {
  padding: 29px; }

.iconColWrap i.fa {
  border: 2px solid RGBA(0, 175, 240, 1);
  color: RGBA(0, 175, 240, 1); }

.iconColWrap:hover i.fa {
  color: #fff;
  background: RGBA(0, 175, 240, 1); }

.contactUs2 {
  padding: 20px;
  padding-left: 60px;
  border-left: 3px dashed RGBA(86, 67, 99, 1); }
  .contactUs2 .get-offer-now-title {
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
    color: #B2DD4C; }
  .contactUs2 .contact-us input[type="text"], .contactUs2 input[type="email"] {
    height: 50px !important; }
  .contactUs2 label {
    font-size: 16px; }
  .contactUs2 .form-control {
    border: 0px solid grey;
    height: 50px;
    -webkit-box-shadow: inset 1px 2px 2px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 1px 2px 8px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 2px 6px 2px rgba(0, 0, 0, 0.2);
    font-size: 16px; }
  .contactUs2 .btn-contact-wrap {
    text-align: center;
    padding: 20px 10px; }
  .contactUs2 .btn-contact-wrap .btn-success {
    padding: 13px 50px !important;
    font-size: 22px;
    background-color: #594666 !important; }
  .contactUs2 .btn-contact-wrap .btn-success:hover {
    background-color: #B2DD4C !important; }
  .contactUs2 .form-response-message {
    float: none;
    margin-bottom: 25px; }

.about-content-bottom {
  padding-top: 90px !important;
  padding-left: 20px !important; }

@media (max-width: 767px) {
  .contactUs2 {
    border-left: 0;
    padding: 20px; } }
