.row-no-padding [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0; }

.the-process .process-bubbles .title {
  line-height: 50px; }

.the-process .process-bubbles strong {
  font-weight: bold; }

.the-how-wrap .underline {
  text-decoration: underline; }

@media (max-width: 767px) {
  .the-process .process-bubbles .title {
    line-height: 30px;
    font-size: 20px; } }

.top-row {
  margin-top: -20px;
  padding-left: 50px;
  padding-right: 50px; }

.top-image-wrap {
  position: relative;
  top: -25px;
  text-align: left;
  padding-right: 25px; }

.top-img-slider {
  max-width: 350px; }

.grapps-logo {
  padding-top: 20px; }

.grapps-logo img {
  max-width: 150px; }

.sliderText {
  padding-top: 0;
  font-size: 35px; }

.contactUs2 {
  border-right: 3px dashed RGBA(86, 67, 99, 1);
  border-left: none;
  padding-right: 60px; }

.second-line {
  display: block;
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  margin-bottom: 15px; }

.slider-p-text {
  font-size: 18px;
  line-height: 22px; }

.sliderText ol {
  margin-right: 30px; }

.sliderText ol li {
  padding-bottom: 10px; }

@media (max-width: 1250px) {
  .second-line {
    font-size: 30px;
    line-height: 40px; } }

@media (min-width: 1450px) {
  .top-row {
    margin-top: -20px;
    padding-left: 100px;
    padding-right: 100px; }
  .sliderText {
    max-width: 850px; } }

@media (max-width: 1199px) {
  .top-row {
    padding-left: 15px;
    padding-right: 15px; }
  .second-line {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 15px; }
  .slider-p-text {
    font-size: 18px;
    line-height: 24px; }
  .top-image-wrap {
    top: 0; } }

@media (max-width: 991px) {
  .second-line {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px; }
  .slider-p-text {
    font-size: 16px;
    line-height: 20px; }
  .grlanding50kb .slider-p-text p {
    padding-bottom: 0; }
  .top-image-wrap {
    top: -100px;
    text-align: right; }
  .top-img-slider {
    max-width: 200px; }
  .top-row .button-wrap {
    text-align: left; } }

@media (max-width: 767px) {
  .top-row {
    padding: 15px 0 0 0; }
  .grapps-logo {
    padding-top: 5px;
    padding-bottom: 5px; }
    .grapps-logo img {
      max-width: 70px; }
  .sliderText {
    margin-top: 0;
    padding: 0; }
  .top-row .ls-l {
    margin: 5px; }
  .second-line {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0; }
  .slider-p-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 0; }
  .grlanding50kb .slider-p-text {
    padding-bottom: 0;
    margin-bottom: 0; }
  .top-image-wrap {
    top: -30px;
    right: -20px;
    text-align: right;
    z-index: 99999; }
  .top-img-slider {
    max-width: 130px; }
  .top-row .button-wrap {
    text-align: left;
    position: relative;
    top: -15px; }
  .buttonBig {
    font-size: 13px;
    padding: 2px 18px; }
  .top-row .col-md-7 {
    padding: 10px; }
  .contactUs2 {
    border-right: none;
    border-left: none;
    padding-right: 15px; } }

@media (max-width: 330px) {
  .second-line {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0; }
  .top-img-slider {
    max-width: 0px; }
  .slider-p-text {
    font-size: 12px; }
  .hidden-xs4 {
    display: none; } }
