@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
.row-no-padding [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0; }

body {
  font-family: 'Open Sans Hebrew', sans-serif  !important;
  direction: rtl;
  text-align: right; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p {
    font-family: 'Open Sans Hebrew', sans-serif  !important;
    direction: rtl;
    text-align: right; }

.grapps-logo {
  padding-top: 30px; }

.grapps-logo img {
  margin-top: 0;
  max-width: 200px; }

.top-row {
  margin-top: -20px;
  padding-left: 150px;
  padding-right: 150px; }

#top-container {
  background: url(../img/offshore-he/bghe.jpg) no-repeat center;
  background-size: 100% 100%;
  margin-top: 0; }

.top-image-wrap {
  position: relative;
  top: -25px;
  text-align: left;
  padding-right: 25px; }

.top-img-slider {
  max-width: 450px; }

.sliderText {
  padding-top: 0;
  font-size: 35px; }

.contactUs2 {
  border-right: 3px dashed RGBA(86, 67, 99, 1);
  border-left: none;
  padding-right: 60px; }

.second-line {
  display: block;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 25px; }

.grlanding50kb .slider-p-text p {
  padding-bottom: 5px; }

.buttonBig {
  padding: 10px 30px;
  font-weight: 600; }

@media (max-width: 1400px) {
  .top-row {
    padding-left: 50px;
    padding-right: 50px; } }

@media (max-width: 1199px) {
  .top-row {
    padding-left: 15px;
    padding-right: 15px; }
  .second-line {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 15px; }
  .slider-p-text {
    font-size: 18px;
    line-height: 24px; }
  .top-image-wrap {
    top: 0; } }

@media (max-width: 991px) {
  .second-line {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px; }
  .slider-p-text {
    font-size: 16px;
    line-height: 20px; }
  .grlanding50kb .slider-p-text p {
    padding-bottom: 0; }
  .top-image-wrap {
    top: -100px;
    text-align: right; }
  .top-img-slider {
    max-width: 300px; }
  .top-row .button-wrap {
    text-align: left; } }

@media (max-width: 767px) {
  .top-row {
    padding: 15px 0 0 0; }
  .grapps-logo {
    padding-top: 5px;
    padding-bottom: 5px; }
    .grapps-logo img {
      max-width: 70px; }
  .sliderText {
    margin-top: 0;
    padding: 0; }
  .top-row .ls-l {
    margin: 5px; }
  .second-line {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0; }
  .slider-p-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 0; }
  .grlanding50kb .slider-p-text {
    padding-bottom: 0;
    margin-bottom: 0; }
  .top-image-wrap {
    top: -30px;
    right: -40px;
    text-align: right;
    z-index: 99999; }
  .top-img-slider {
    max-width: 180px; }
  .top-row .button-wrap {
    text-align: left;
    position: relative;
    top: -15px; }
  .buttonBig {
    font-size: 13px;
    padding: 2px 18px; }
  .top-row .col-md-7 {
    padding: 10px; } }

@media (max-width: 330px) {
  .top-img-slider {
    max-width: 130px; } }

.contactUs2 .get-offer-now-title {
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
  color: #E62565; }

.contactUs2 .btn-contact-wrap .btn-success {
  background-color: #C41C66 !important;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.contactUs2 .btn-contact-wrap .btn-success:hover {
  background-color: #A51759 !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

#aboutContainer .about-content,
#aboutContainer .about-content p {
  font-size: 18px;
  font-weight: 400; }

#aboutContainer .about-content p {
  font-size: 18px;
  font-weight: 400; }

#aboutContainer .about-content .promise {
  font-size: 18px;
  font-weight: 400; }

#aboutContainer .about-content .underline {
  text-decoration: underline; }

#aboutContainer .about-content ul {
  padding-left: 0;
  padding-right: 40px;
  padding-bottom: 10px; }

#aboutContainer .about-content ul li {
  padding-top: 10px; }

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translatex(0);
    transform: translateY(0); }
  40% {
    -moz-transform: translateX(-30px);
    transform: translateX(-30px); }
  60% {
    -moz-transform: translateX(-15px);
    transform: translateX(-15px); } }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  40% {
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px); }
  80% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  40% {
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px); }
  60% {
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); } }

@media (max-width: 1199px) {
  .contactUs2 {
    padding-right: 30px;
    padding-left: 70px; } }

@media (max-width: 991px) {
  #aboutContainer .about-content {
    padding: 0; }
  #aboutContainer .about-content h2 {
    font-size: 30px;
    padding-top: 0; }
  #aboutContainer .focus-test {
    top: -20px;
    font-size: 40px; }
  #aboutContainer {
    padding-top: 20px; }
  #aboutContainer .about-content, #aboutContainer .about-content p {
    font-size: 16px; }
  #aboutContainer .about-content .promise {
    font-size: 16px; }
  #aboutContainer .about-content ul {
    padding-right: 25px; }
  .contactUs2 .get-offer-now-title {
    padding-top: 0; }
  .contactUs2 {
    padding-top: 0;
    padding-right: 30px;
    padding-left: 30px; } }

@media (max-width: 767px) {
  #aboutContainer .about-content h2 {
    text-align: center;
    font-size: 26px;
    padding-top: 0; }
  #aboutContainer .about-content h2:after {
    margin: 15px auto; }
  #aboutContainer .focus-test {
    top: -20px;
    font-size: 30px; }
  #aboutContainer .about-content, #aboutContainer .about-content p {
    font-size: 14px; }
  #aboutContainer .about-content .promise {
    font-size: 14px; }
  .contactUs2 .get-offer-now-title {
    margin-top: 20px;
    line-height: 30px;
    font-size: 20px; }
  .contactUs2 {
    border-right: 0;
    padding-right: 20px;
    padding-left: 20px; }
  .contact2-arrow-down {
    display: inline !important; } }

.the-how {
  padding-top: 140px;
  background: url(../img/offshore-he/bg-texture1.jpg) no-repeat center center; }

.the-how-wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px; }

.the-how h2.title {
  text-align: center;
  font-size: 40px;
  padding-bottom: 10px; }

.the-how p {
  text-align: right;
  font-size: 18px;
  line-height: 25px; }

@media (max-width: 1199px) {
  .the-how {
    padding-bottom: 100px; } }

@media (max-width: 767px) {
  .the-how-wrap {
    position: relative;
    top: 100px;
    padding: 0; }
  .the-how {
    padding-top: 0;
    background-size: 100% 100%; }
  .the-how h2.title {
    font-size: 28px;
    padding-bottom: 0; }
  .the-how p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; } }

.the-process h2 {
  text-align: center; }

.the-process h3 {
  text-align: center; }

.the-process p {
  text-align: center; }

.the-process .subtitle {
  max-width: 800px;
  margin: 0 auto;
  line-height: 25px; }

.the-process .iconColWrap i.fa {
  width: 80px;
  height: 80px;
  padding: 22px;
  margin-bottom: 20px;
  margin-top: 35px;
  color: #E62565;
  border: 2px solid #E62565; }

.the-process .iconColWrap:hover i.fa {
  background-color: #E62565; }

@media (max-width: 1199px) {
  .the-process {
    padding: 0; }
    .the-process h2 {
      font-size: 28px; }
    .the-process .subtitle {
      font-size: 18px;
      padding-bottom: 0; }
    .the-process .iconColWrap i.fa {
      width: 60px;
      height: 60px;
      font-size: 20px;
      padding: 18px;
      margin-bottom: 10px; } }

@media (max-width: 991px) {
  .the-process h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px; }
  .the-process .subtitle {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    padding-bottom: 0; } }

@media (max-width: 767px) {
  .the-process h2 {
    font-size: 22px;
    padding-bottom: 0; }
  .the-process .iconColWrap {
    padding-bottom: 0px;
    margin-bottom: 0; }
  .the-process .iconColWrap h3 {
    padding-bottom: 0; } }

#contactUs .preview-title {
  padding-right: 110px;
  padding-left: 0;
  font-weight: 700;
  font-size: 18px; }

#contactUs .main-title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto 0; }

#contactUs .main-title {
  font-size: 35px;
  font-weight: 700;
  padding: 0 10px;
  text-align: center; }

#contactUs .main-title-2 {
  font-size: 30px;
  font-weight: 700;
  padding: 10px 10px 20px;
  text-align: center; }

#contactUs .subtitle {
  font-size: 20px; }

#contactUs .btn-contact-wrap {
  text-align: left; }

#contactUs .btn-contact-wrap .btn-success {
  background-color: #C41C66 !important;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

#contactUs .btn-contact-wrap .btn-success:hover {
  background-color: #A51759 !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

@media (max-width: 1199px) {
  #contactUs {
    padding-top: 70px; }
    #contactUs .preview-title {
      padding-right: 50px; }
    #contactUs h3 {
      font-size: 20px; } }

@media (max-width: 991px) {
  #contactUs .main-title {
    font-size: 30px;
    margin-top: 20px; }
  #contactUs .main-title-2 {
    font-size: 25px; }
  #contactUs .preview-title {
    padding-right: 0;
    font-size: 16px; }
  #contactUs h3 {
    font-size: 16px; } }

@media (max-width: 767px) {
  #contactUs .main-title {
    font-size: 22px; }
  #contactUs .subtitle {
    font-size: 16px;
    margin-bottom: 0; }
  #contactUs .main-title-2 {
    font-size: 22px;
    margin-bottom: 0;
    padding-bottom: 20px; }
  #contactUs .btn-contact-wrap {
    text-align: center; }
  #contactUs .btn-contact-wrap .btn-success {
    font-weight: bold;
    font-size: 22px; } }

.focus-test-2 {
  position: absolute;
  font-size: 48px;
  z-index: 3;
  color: #564363;
  color: rgba(86, 67, 99, 0.1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 220px;
  right: -120px; }

#about2Container .about-content {
  padding: 100px 100px 100px 40px; }

@media (max-width: 1199px) {
  #about2Container .about-typo .typo-bus {
    font-size: 33px; }
  #about2Container .about-content {
    padding-right: 60px; }
    #about2Container .about-content h2 {
      font-size: 30px; } }

@media (max-width: 991px) {
  #about2Container .about-content {
    padding: 20px 10px 0 50px;
    min-height: 0; }
    #about2Container .about-content h2 {
      font-size: 28px; }
    #about2Container .about-content p {
      line-height: 20px; }
  #about2Container .about-typo {
    padding-top: 0;
    top: 80px; }
  #about2Container .about-typo .typo-bus {
    font-size: 26px; }
  #about2Container .focus-test-2 {
    text-align: center;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 40px;
    top: 0px;
    right: auto;
    margin: 0 auto; } }

@media (max-width: 767px) {
  #about2Container h2 {
    text-align: center; }
  #about2Container h2:after {
    margin: 15px auto; }
  #about2Container .about-content {
    padding: 0 0 20px 0; }
  #about2Container .about-content p {
    font-size: 14px;
    line-height: 20px;
    text-align: right; }
  #about2Container .focus-test-2 {
    font-size: 30px;
    margin-bottom: 20px; } }

#contactUsFooter {
  position: relative;
  z-index: 3;
  box-shadow: none;
  padding-top: 130px;
  padding-bottom: 130px;
  background: url("../img/landing50k/bg-texture1.jpg") no-repeat top right;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: #fff; }
  #contactUsFooter h2 {
    color: #fff; }

#contactUsFooter .triangleBottom {
  bottom: auto;
  top: 0; }

#contactUsFooter.contact-us-footer {
  padding-top: 100px;
  padding-bottom: 100px; }

footer .grapps-logo {
  padding-top: 10px; }

footer p {
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 0; }

footer .separator40 {
  padding: 10px; }

#footerContainer span {
  display: inline-block;
  direction: rtl; }

#footerContainer i.fa-google-plus:before {
  position: relative;
  left: 5px; }

@media (max-width: 767px) {
  .contact-details .grapps-logo img {
    max-width: 200px; } }

.triangleBottom {
  bottom: -130px; }

@media (max-width: 991px) {
  .triangleBottom {
    bottom: -130px; } }

@media (max-width: 767px) {
  #about2Container .triangleBottom {
    bottom: -79px; } }

.slick-office-wrap {
  max-width: 1100px;
  margin: 40px auto 0 auto;
  /* the slides */
  /* the parent */ }
  .slick-office-wrap .slick-slide {
    margin-left: 13px; }
  .slick-office-wrap .slick-list {
    margin-left: -15px; }
  .slick-office-wrap .slick-prev {
    left: -40px; }
  .slick-office-wrap .slick-next {
    right: -40px; }
  .slick-office-wrap .slick-slide {
    max-height: 149px; }

.slick-clients-wrap {
  max-width: 1100px;
  margin: 30px auto 20px auto;
  /* the slides */
  /* the parent */ }
  .slick-clients-wrap .slick-slide {
    margin-left: 14px; }
  .slick-clients-wrap .slick-list {
    margin-left: -14px; }
  .slick-clients-wrap .slick-prev {
    left: -40px; }
  .slick-clients-wrap .slick-next {
    right: -40px; }
  .slick-clients-wrap .slick-slide {
    padding: 10px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out; }

.lightcase-content {
  background-color: #C2C9C9; }

@media (max-width: 1199px) {
  .slick-office-wrap {
    max-width: 80%; }
    .slick-office-wrap .slick-slide {
      max-height: 125px; }
  .slick-clients-wrap {
    max-width: 80%; } }

@media (max-width: 991px) {
  .slick-office-wrap .slick-slide {
    max-height: 110px; } }

@media (max-width: 767px) {
  .slick-office-wrap {
    max-width: 80%;
    margin-top: 130px;
    /* the parent */ }
    .slick-office-wrap .slick-slide {
      max-height: 105px; }
    .slick-office-wrap .slick-slide {
      margin-left: 10px; }
    .slick-office-wrap .slick-list {
      margin-left: -10px; }
  .slick-clients-wrap {
    max-width: 70%; } }
