
@import "bits";

body {
  text-align: center;
  font-weight: 700;
}
.page-404 {
  #logo-wrap {
    text-align: center;
  }
  #logo-wrap img {
    max-width: 400px;
  }
  .wrappercont {
    font-family: 'Raleway', sans-serif;

    padding-top: 50px;
    padding-bottom: 200px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
  }

  .content {
    text-align: center;
    display: inline-block;
    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
    }
  }
  .page-title {
    font-weight: 700;
  }

  .title {
    text-align: center;
    font-weight: 700;
    font-size: 190px;
    h1 {
      font-weight: 700;
    }

    h3 {
      margin-top: 20px;
      font-size: 40px;
    }


  }
  h4 {
    font-size: 35px;
  }
  h4.guide-back  {
    font-size: 30px;
  }
}


@media (max-width: $screen-xs-max) {
  .page-404 {
    h1 {
      font-size: 18px;
    }
  }
  h3 {
    font-size: 14px;
  }
  h2 {
    font-size: 16px;
  }
}