.row-no-padding [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0; }

body {
  text-align: center;
  font-weight: 700; }

.page-404 #logo-wrap {
  text-align: center; }

.page-404 #logo-wrap img {
  max-width: 400px; }

.page-404 .wrappercont {
  font-family: 'Raleway', sans-serif;
  padding-top: 50px;
  padding-bottom: 200px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%; }

.page-404 .content {
  text-align: center;
  display: inline-block; }
  .page-404 .content h1, .page-404 .content h2, .page-404 .content h3, .page-404 .content h4, .page-404 .content h5, .page-404 .content h6 {
    font-weight: 700; }

.page-404 .page-title {
  font-weight: 700; }

.page-404 .title {
  text-align: center;
  font-weight: 700;
  font-size: 190px; }
  .page-404 .title h1 {
    font-weight: 700; }
  .page-404 .title h3 {
    margin-top: 20px;
    font-size: 40px; }

.page-404 h4 {
  font-size: 35px; }

.page-404 h4.guide-back {
  font-size: 30px; }

@media (max-width: 767px) {
  .page-404 h1 {
    font-size: 18px; }
  h3 {
    font-size: 14px; }
  h2 {
    font-size: 16px; } }
