/*   
Theme Name: GRapps Ads Network
Theme URI: http://ads.grapps.io
Description:
Author: Jhonny Cohen
Author URI: http://grapps.io
Version: 1
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:700,100,300,400);
@media screen {
  * {
    margin: 0;
    padding: 0; }
  body {
    background: white;
    font: 14px/1.4 'Raleway',Arial, Serif; }
  .screen-reader-text {
    position: absolute;
    left: -9999px;
    top: -9999px; }
  .clear {
    clear: both; }
  .group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  * html .group, *:first-child + html .group {
    zoom: 1; }
  /* First selector = IE6, Second Selector = IE 7 */
  #page-wrap {
    width: 960px;
    margin: 20px auto; }
  h1, h2, h3 {
    font-weight: normal;
    margin: 0 0 10px 0; }
  p {
    margin: 0 0 10px 0; }
  ul, ol {
    margin: 0 0 10px 0; }
  ol.commentlist {
    list-style: none; }
  ol.commentlist li.comment {
    border-bottom: 1px dotted #666;
    padding: 10px; }
  ol.commentlist li.comment div.vcard cite.fn {
    font-style: normal; }
  ol.commentlist li.comment div.vcard img.avatar {
    float: right;
    margin: 0 0 10px 10px; }
  ol.commentlist li.comment div.comment-meta {
    font-size: 10px; }
  ol.commentlist li.comment div.comment-meta a {
    color: #ccc; }
  ol.commentlist li.comment div.reply {
    font-size: 11px; }
  ol.commentlist li.comment div.reply a {
    font-weight: bold; }
  ol.commentlist li.comment ul.children {
    list-style: none;
    margin: 10px 0 0; }
  ol.commentlist li.comment ul.children li.depth-2 {
    border-left: 5px solid #555;
    margin: 0 0 10px 10px; }
  ol.commentlist li.comment ul.children li.depth-3 {
    border-left: 5px solid #999;
    margin: 0 0 10px 10px; }
  ol.commentlist li.comment ul.children li.depth-4 {
    border-left: 5px solid #bbb;
    margin: 0 0 10px 10px; }
  ol.commentlist li.even {
    background: #fff; }
  ol.commentlist li.odd {
    background: #f6f6f6; }
  ol.commentlist li.parent {
    border-left: 5px solid #111; } }

/* END screen media */
@media print {
  .do-not-print {
    display: none; }
  #comments {
    page-break-before: always; }
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.4;
    word-spacing: 1.1pt;
    letter-spacing: 0.2pt;
    color: #000;
    background: none;
    font-size: 12pt; }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Railway', Arial, sans-serif; }
  h1 {
    font-size: 19pt; }
  h2 {
    font-size: 17pt; }
  h3 {
    font-size: 15pt; }
  h4, h5, h6 {
    font-size: 12pt; }
  code {
    font: 10pt Courier, monospace; }
  blockquote {
    margin: 1.3em;
    padding: 1em; }
  img {
    display: block;
    margin: 1em 0; }
  a img {
    border: none; }
  table {
    margin: 1px;
    text-align: left; }
  th {
    border-bottom: 1px solid #333;
    font-weight: bold; }
  td {
    border-bottom: 1px solid #333; }
  th, td {
    padding: 4px 10px 4px 0; }
  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left; }
  thead {
    display: table-header-group; }
  tr {
    page-break-inside: avoid; }
  a {
    text-decoration: none;
    color: black; } }

/* END print media */
.row-no-padding [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0; }

.navbar-default {
  border-top: 3px solid #564363 !important;
  background-color: #fff;
  z-index: 1000; }

#menu-menu-main {
  float: right; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #fff; }

#menu-main-menu {
  float: right; }

.navbar-default .navbar-nav > li {
  padding-top: 20px;
  width: 120px; }

.sticky {
  box-shadow: 2x 2px 10px 0px rgba(0, 0, 0, 0.35); }

.sticky.navbar-default .navbar-nav > li {
  padding-top: 0px; }

.navbar-default .navbar-nav > li > a {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #9A78AF; }

#logo {
  position: relative;
  float: left;
  margin-right: 20px; }

#logo img {
  max-width: 170px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.normal-header {
  position: fixed;
  width: 100%;
  color: #fff;
  font-weight: 800;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.sticky {
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: left;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.sticky #bs-example-navbar-collapse-1 {
  background: none; }

.sticky #bs-example-navbar-collapse-1 li a {
  line-height: 39px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.sticky #logo img {
  max-width: 110px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }

.navbar-default .navbar-nav > li {
  width: 105px; }

@media (max-width: 767px) {
  #menu-main-menu {
    float: none;
    position: fixed;
    width: 100%;
    background-color: #fff;
    margin-top: -1px; }
  .normal-header {
    margin-bottom: 0px; }
  .navbar-nav > li {
    float: none;
    padding-left: 5px; }
  .navbar-default .navbar-nav > li {
    width: auto; }
  .navbar-default .navbar-nav > li > a {
    line-height: 20px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px; }
  #logo img {
    max-width: 100px; }
  .menu--adrian .menu__link {
    margin: 0 auto; }
  .menu--adrian .menu-item.active .menu__link::before {
    display: none; }
  .menu--adrian .menu__link::before {
    width: 600%; } }

/* Common styles for all menus */
/* Common styles for all menus */
.menu__link {
  font-size: 1.05em;
  font-weight: bold;
  display: block;
  padding: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent; }

.menu__link:hover,
.menu__link:focus {
  outline: none; }

/* Individual styles */
/* Adrian */
.menu--adrian .menu-item {
  margin: 0 10px; }

.menu--adrian .menu__link {
  position: relative;
  overflow: hidden;
  width: 110px;
  padding: 10px 5px;
  color: #b5b5b5; }

.sticky .menu--adrian .menu__link {
  padding: 0px 10px; }

.menu--adrian .menu__link:hover,
.menu--adrian .menu__link:focus {
  color: #929292; }

.menu--adrian .active .menu__link {
  color: #675473; }

.menu--adrian .menu__link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500%;
  height: 50px;
  opacity: 0;
  background: url(img/line.svg) no-repeat top left;
  -webkit-transform: translate3d(130px, 0, 0);
  transform: translate3d(130px, 0, 0);
  -webkit-transition: -webkit-transform 0s 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
  transition: opacity 0.3s, -webkit-transform 0s 0.3s;
  transition: transform 0s 0.3s, opacity 0.3s;
  transition: transform 0s 0.3s, opacity 0.3s, -webkit-transform 0s 0.3s; }

.sticky .menu__link::before {
  height: 61px; }

.menu--adrian .menu-item:hover .menu__link::before,
.menu--adrian .menu-item.active .menu__link::before {
  opacity: 1;
  -webkit-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }

.menu--adrian .menu__helper {
  display: block;
  pointer-events: none; }

.menu--adrian .active .menu__helper {
  -webkit-animation: anim-adrian 0.3s forwards;
  animation: anim-adrian 0.3s forwards; }

@-webkit-keyframes anim-adrian {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes anim-adrian {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

/* Stack items for smaller screens */
@media screen and (max-width: 55em) {
  .menu__list {
    display: block;
    margin: 0 auto; } }

.gr-logo-white {
  display: none;
  visibility: hidden; }

@media (min-width: 768px) {
  .home .navbar-default .navbar-collapse,
  .home .navbar-default {
    border: 0;
    background-color: transparent; }
  .home .navbar-default.sticky .navbar-collapse,
  .home .navbar-default.sticky {
    background-color: rgba(255, 255, 255, 0.8); }
  .home .navbar-default .navbar-nav > li > a,
  .home .navbar-default .navbar-nav > li.active > a:hover {
    color: #fff; }
  .home .sticky.navbar-default .navbar-nav > li > a,
  .home .navbar-default.sticky .navbar-nav > li > a:focus,
  .home .navbar-default.sticky .navbar-nav > li > a:hover {
    color: #333; }
  .home .menu--adrian .menu__link::before {
    background: url(img/line_white.svg) no-repeat top left; }
  .home .sticky.menu--adrian .menu__link::before {
    background: url(img/line.svg) no-repeat top left; }
  .gr-logo-white {
    display: none;
    visibility: hidden;
    padding-top: 20px;
    padding-left: 20px; }
  .home #logo .gr-logo-white {
    display: block;
    visibility: visible; }
  .home #logo .gr-logo {
    display: none;
    visibility: hidden; }
  .home .sticky #logo .gr-logo-white {
    display: none;
    visibility: hidden; }
  .home .sticky #logo .gr-logo {
    display: block;
    visibility: visible; }
  .home #logo img {
    max-width: 260px; }
  .home .sticky #logo img {
    max-width: 110px; } }

@media (min-width: 768px) {
  .home #logo img {
    max-width: 140px; }
  .menu--adrian .menu__link::before {
    width: 400%; }
  and
.menu--adrian .menu__link {
    width: auto; } }

.spacer {
  padding: 49px; }

.page-template-page-home .spacer {
  padding: 0; }

@media (min-width: 768px) {
  .page-template-page-articles .navbar-default .navbar-collapse,
  .page-template-page-articles .navbar-default {
    border: 0;
    background-color: transparent; }
  .page-template-page-articles .navbar-default.sticky .navbar-collapse,
  .page-template-page-articles .navbar-default.sticky {
    background-color: rgba(255, 255, 255, 0.8); }
  .page-template-page-articles .navbar-default .navbar-nav > li > a,
  .page-template-page-articles .navbar-default .navbar-nav > li.active > a:hover {
    color: #fff; }
  .page-template-page-articles .sticky.navbar-default .navbar-nav > li > a,
  .page-template-page-articles .navbar-default.sticky .navbar-nav > li > a:focus,
  .page-template-page-articles .navbar-default.sticky .navbar-nav > li > a:hover {
    color: #333; }
  .page-template-page-articles .menu--adrian .menu__link::before {
    background: url(img/line_white.svg) no-repeat top left; }
  .page-template-page-articles .sticky.menu--adrian .menu__link::before {
    background: url(img/line.svg) no-repeat top left; }
  .gr-logo-white {
    display: none;
    visibility: hidden;
    padding-top: 20px;
    padding-left: 20px; }
  .page-template-page-articles #logo .gr-logo-white {
    display: block;
    visibility: visible; }
  .page-template-page-articles #logo .gr-logo {
    display: none;
    visibility: hidden; }
  .page-template-page-articles .sticky #logo .gr-logo-white {
    display: none;
    visibility: hidden; }
  .page-template-page-articles .sticky #logo .gr-logo {
    display: block;
    visibility: visible; }
  .page-template-page-articles #logo img {
    max-width: 260px; }
  .page-template-page-articles .sticky #logo img {
    max-width: 110px; } }

@media (min-width: 1200px) {
  .navbar-default .navbar-nav > li {
    width: 115px; }
  .navbar-default .navbar-nav > li > a {
    font-size: 18px; } }

@media (max-width: 1199px) {
  .navbar-default .navbar-nav > li {
    width: 105px; }
  .collapse.navbar-collapse {
    padding-right: 0; }
  .menu--adrian .menu-item {
    margin: 0 3px; }
  #logo img {
    max-width: 150px; } }

@media (min-width: 768px) {
  .page-template-page-articles #logo img {
    max-width: 160px; }
  .menu--adrian .menu__link::before {
    width: 400%; }
  .page-template-page-articles .navbar-default .navbar-nav > li > a, .page-template-page-articles .navbar-default .navbar-nav > li.active > a:hover {
    padding-left: 5px;
    padding-right: 5px; }
  .menu--adrian .menu__link {
    width: auto; } }

.spacer {
  padding: 49px; }

.page-template-page-articles .spacer {
  padding: 0; }

@media (min-width: 970px) and (max-width: 1090px) {
  .navbar-default .navbar-nav > li {
    width: 100px; }
  .navbar-default .navbar-nav > li > a {
    font-size: 14px; }
  .sticky.navbar-default .navbar-nav > li {
    width: 105px; }
  .sticky.navbar-default li > a {
    font-size: 15px; }
  .home .navbar-default .navbar-nav > li > a, .home .navbar-default .navbar-nav > li.active > a:hover {
    padding-left: 0px;
    padding-right: 0px; }
  .home .navbar-default .navbar-nav > li {
    width: 96px; } }

.panel-header {
  background: #66287D;
  text-align: left;
  color: #fff;
  position: fixed;
  z-index: 559;
  width: 100%;
  font-size: 21px;
  font-weight: bold;
  height: 55px;
  padding-top: 5px; }

button:focus {
  outline: 0; }

#menu header {
  text-align: center;
  margin-bottom: 20px; }

.mobile-menu-logo-wrap {
  text-align: center; }

.mobile-menu-logo {
  max-width: 100px; }

.mobile-nav-menu li.active a {
  color: #B2DD4C; }

.lang-switcher-mobile li a {
  display: block;
  color: #fff;
  padding-left: 20px;
  font-size: 1.05em;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px; }

.menu-label {
  color: #fff;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.3); }

.menu-label p {
  margin-bottom: 5px; }

.mobile-nav-menu {
  padding-bottom: 5px; }

.mobile-nav-menu li a {
  color: #fff;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px; }

.status-bar-logo {
  display: inline-block;
  font-size: 22px;
  position: relative;
  top: -3px; }

.mobile-settings-menu {
  background: none;
  border: none; }

.mobile-settings-menu a {
  color: #fff; }

.mobile-settings-menu i {
  color: #fff;
  font-size: 5px;
  font-weight: 100;
  display: inline-block; }

.test {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px; }

.test:after {
  content: '\2807';
  font-size: 35px;
  padding-bottom: 3px; }

.dropdown-settings-menu-mobile {
  padding-top: 20px;
  left: auto;
  right: 0;
  background-color: #333; }

.dropdown-settings-menu-mobile > li > a {
  color: #fff; }

.dropdown-settings-menu-mobile > li > a:hover {
  color: #B2DD4C;
  background-color: transparent; }

.dropdown-settings-menu-mobile > li:hover a {
  background-color: transparent; }

.dropdown-settings-menu-mobile .label {
  text-align: left;
  padding-left: 10px;
  display: block;
  font-size: 14px;
  color: #eee; }

.mobile-sharing-menu {
  display: inline; }

.dropdown-share-toggle-mobile {
  background: none;
  border: none;
  position: relative;
  padding-left: 20px; }

.dropdown-share-toggle-mobile i {
  color: #fff;
  font-size: 25px; }

.dropdown-share-menu-mobile {
  left: 150px;
  right: auto;
  background-color: #333;
  padding-bottom: 20px;
  padding-top: 20px; }

.dropdown-share-menu-mobile > li > a {
  color: #fff; }

.dropdown-share-menu-mobile .label {
  display: block;
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #eee; }

.dropdown-share-menu-mobile li {
  padding-top: 5px; }

.dropdown-share-menu-mobile li:hover {
  background-color: none; }

.dropdown-share-menu-mobile li:hover a {
  color: #B2DD4C;
  background-color: none; }

.dropdown-share-menu-mobile > li > a:hover {
  background-color: transparent; }

.dropdown-share-menu-mobile span {
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 400; }

.dropdown-share-menu-mobile img {
  max-width: 25px; }

#panel {
  background: #fff;
  border: none;
  margin-bottom: 0; }

@media (max-width: 991px) {
  #panel {
    padding-top: 54px; } }

.slideout-menu {
  margin-top: 55px;
  position: fixed;
  text-align: left;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background: #303030;
  z-index: 555; }

.slideout-panel {
  background-color: red;
  position: relative;
  z-index: 557;
  will-change: transform; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
  z-index: 555; }

.slideout-open .slideout-menu {
  display: block; }

.toggle-button {
  background: none;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding-top: 3px;
  padding-left: 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 1; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  transition-property: -webkit-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  bottom: -10px; }

/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
  transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.32s;
          transition-delay: 0.32s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
  transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear; }

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1); }

.navbar-default .navbar-nav > li.menu-item-language {
  padding: 0;
  padding-top: 5px;
  margin: 0;
  width: auto;
  display: inline-block; }

.navbar-default .navbar-nav > li.menu-item-language a {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 0px; }

.navbar-default .navbar-nav > li.menu-item-language a:hover {
  color: #B2DD4C; }

.navbar-default .navbar-nav > li.menu-item-language:last-child a:after {
  content: "|";
  float: left;
  padding-right: 5px; }

.home .navbar-default.sticky .navbar-nav > li.menu-item-language > a:focus,
.home .navbar-default.sticky .navbar-nav > li.menu-item-language > a:hover {
  color: #564363; }

.navbar-default .navbar-nav > li.menu-item-language {
  padding-top: 26px; }

.sticky.navbar-default .navbar-nav > li.menu-item-language {
  padding-top: 6px; }

@media (max-width: 991px) {
  .mobile-nav-menu li.menu-item-language {
    display: none;
    visibility: hidden; } }

#lang_sel_list {
  background: none;
  width: auto;
  height: auto;
  margin-bottom: 20px; }

#lang_sel_list.lang_sel_list_vertical {
  width: auto; }

#lang_sel_list.lang_sel_list_vertical ul {
  width: auto;
  height: auto;
  border: 0;
  padding-top: 10px !important; }

#lang_sel_list.lang_sel_list_vertical li {
  display: block;
  float: none;
  width: auto;
  height: auto;
  border: 0;
  padding-left: 10px !important;
  padding-bottom: 10px !important; }

#lang_sel_list a.lang_sel_sel,
#lang_sel_list a.lang_sel_other,
#lang_sel_list a.lang_sel_sel:visited {
  font-size: 1.05em;
  font-size: 16px;
  font-family: 'Railway', Arial, sans-serif;
  font-weight: 700;
  width: auto;
  height: auto;
  border: 0;
  background: none;
  color: #B2DD4C; }

#lang_sel_list ul a.lang_sel_other,
#lang_sel li ul a:link,
#lang_sel_list ul a.lang_sel_other:visited {
  background: none;
  color: #fff; }

#lang_sel_list a.lang_sel_sel:hover,
#lang_sel_list ul a.lang_sel_other:hover {
  background: none; }

@media (min-width: 767px) {
  #lightcase-info {
    position: relative;
    max-width: 1000px !important;
    margin: 0 auto; }
  #lightcase-content {
    max-width: 1000px !important;
    margin: 0 auto; }
  #lightcase-case {
    left: auto;
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important; }
  .lightcase-contentInner {
    max-width: 1000px !important;
    width: 100% !important; }
  .lightcase-contentInner img {
    max-width: 80%; } }

@media (max-width: 767px) {
  #lightcase-case {
    left: auto;
    width: 95% !important;
    margin-left: 2.5% !important;
    margin-right: 2.5% !important; } }

img {
  width: 100%;
  height: auto; }

.intro {
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100%;
  background: #2A2A2A;
  background-size: 100% 100%;
  padding-top: 100px; }

.intro-title {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 55px;
  position: relative;
  top: -140px; }

.intro-title span {
  font-weight: 400; }

.intro-subtitle {
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
  position: relative;
  top: -121px; }

.intro-devices-wrap {
  position: relative;
  max-width: 1300px;
  margin: 0 auto; }

.blur-it-not {
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  filter: blur(0px) !important;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

.intro .bounce-wrap-desktop {
  bottom: 0px; }

@media (max-width: 1199px) {
  .intro-title {
    top: -60px; }
  .intro-subtitle {
    font-size: 24px;
    top: -60px; } }

.imac-wrap {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: -100px; }

.imac-wrap .chalk-wrap {
  display: inline-block;
  position: relative;
  left: 400px;
  top: 75px;
  width: 50px;
  cursor: pointer;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.imac-wrap .imac-hook {
  display: block;
  position: relative;
  top: -359px;
  left: 132px;
  width: 707px; }

.imac-wrap .imac-top-holder {
  display: block; }

.imac-wrap .chalk-text {
  position: relative;
  top: 30px;
  left: 60px;
  width: 80px; }

@media (max-width: 1199px) {
  .imac-wrap {
    margin-top: -70px;
    max-width: 710px; }
  .imac-wrap .chalk-wrap {
    left: 263px;
    top: 45px; }
  .imac-wrap .imac-hook {
    top: -254px;
    left: 93px;
    width: 504px; } }

.macbook-wrap {
  position: absolute;
  top: 108px;
  left: 0px;
  max-width: 400px; }

.macbook-wrap .chalk-wrap {
  width: 100px;
  position: relative;
  left: 28px;
  top: 133px;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.macbook-wrap .chalk-text {
  width: 150px;
  position: relative;
  left: -20px; }

.macbook-wrap img:hover {
  cursor: pointer; }

.macbook-wrap .chalk {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
  -ms-filter: "FlipH"; }

.macbook-hook {
  display: block;
  cursor: pointer; }

@media (max-width: 1199px) {
  .macbook-wrap {
    left: 54px;
    top: 88px;
    max-width: 300px; }
  .macbook-wrap .chalk-wrap {
    top: 86px;
    width: 67px;
    left: 29px; }
  .macbook-wrap .chalk-text {
    left: -39px; } }

.ipad-wrap {
  position: absolute;
  top: 140px;
  right: 100px;
  max-width: 280px; }

.ipad-wrap .chalk-wrap {
  width: 100px;
  position: relative;
  left: 214px;
  top: 90px;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.ipad-wrap .chalk-text {
  width: 150px;
  position: relative;
  left: -20px; }

@media (max-width: 1199px) {
  .ipad-wrap {
    top: 100px;
    right: 101px;
    max-width: 204px; }
  .ipad-wrap .chalk-wrap {
    width: 72px;
    left: 156px;
    top: 70px; }
  .ipad-wrap .chalk-text {
    width: 135px; } }

.iphone-wrap {
  position: absolute;
  z-index: 2;
  right: 260px;
  top: 567px;
  max-width: 180px; }

.iphone-wrap .chalk-wrap {
  width: 66px;
  position: relative;
  left: 136px;
  top: 154px;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.iphone-wrap .chalk-text {
  width: 150px;
  position: relative;
  left: 32px;
  top: -20px; }

@media (max-width: 1199px) {
  .iphone-wrap {
    max-width: 130px;
    right: 201px;
    top: 442px; }
  .iphone-wrap .chalk-wrap {
    left: 102px;
    top: 98px; }
  .iphone-wrap .chalk-text {
    width: 128px; } }

.intro-mobile {
  position: relative;
  background: #2A2A2A;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px; }

.app-spacer {
  padding: 30px; }

.app-wrap {
  max-width: 80px;
  text-align: center;
  margin: 0 auto; }

.app-wrap a {
  display: block;
  margin: 0 auto; }

.app-wrap img {
  border-radius: 25%; }

.app-text {
  color: #fff;
  padding-top: 2px;
  text-align: center;
  font-size: 11px;
  font-weight: 300; }

.intro-mobile-logo-wrap {
  max-width: 200px;
  margin: 0 auto;
  position: relative;
  top: 50px; }

.bounce-wrap {
  position: absolute;
  bottom: 50px;
  left: 50%;
  text-align: center; }

.bounce-wrap .fa {
  width: 55px;
  display: block;
  text-align: center;
  color: #FFF;
  font-weight: 100;
  font: 100 30px 'FontAwesome';
  line-height: 55px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.fa-angle-double-down:before {
  content: "\f103"; }

.bounce2 {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce2 2s infinite;
  -moz-animation: bounce2 2s infinite;
  -o-animation: bounce2 2s infinite; }

@-webkit-keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }

@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }

@media (max-width: 991px) {
  .intro-mobile {
    padding-top: 30px; }
  .app-spacer {
    padding: 10px; } }

.focus-test {
  position: absolute;
  font-size: 60px;
  z-index: 3;
  color: #564363;
  color: rgba(86, 67, 99, 0.1);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 280px;
  left: -160px; }

#about {
  position: relative;
  width: 100%;
  padding: 60px 20px 120px 20px;
  background: #fff;
  background: #fefefe;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden; }

.about-content {
  position: relative;
  padding: 20px;
  padding-left: 120px;
  min-height: 450px; }

.about-content h2 {
  font-size: 35px;
  padding-top: 10px;
  font-weight: 900; }

.about-content h2:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block; }

.about-content p {
  font-size: 14px;
  line-height: 25px; }

.about-typo {
  position: relative;
  top: 92px;
  font-size: 24px;
  text-align: center;
  color: #444; }

.about-typo span {
  display: block;
  position: relative;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in; }

.about-typo .about-typo .typo-sidecode {
  -webkit-transition: all 50ms ease-in;
  transition: all 50ms ease-in; }

.about-typo span strong {
  -webkit-transition: all 50ms ease-in 50ms;
  transition: all 50ms ease-in 50ms; }

.about-typo .typo-tech {
  font-weight: 900;
  font-size: 43px; }

.about-typo .typo-focus {
  top: -15px;
  font-weight: 300;
  font-size: 39px; }

.about-typo .typo-sidecode {
  top: -38px;
  right: 2px;
  font-size: 77px;
  font-weight: 400; }

.about-typo .typo-sidecode strong {
  font-weight: 600; }

.about-typo .typo-creative {
  top: -73px;
  font-weight: 100;
  font-size: 64px; }

.about-typo .typo-bus {
  top: -94px;
  font-weight: 800;
  font-size: 37px; }

.about-typo:hover .typo-tech {
  color: #32C0FF; }

.about-typo:hover .typo-focus {
  color: #FF5C4A; }

.about-typo:hover .typo-sidecode {
  color: #564363; }

.about-typo:hover .typo-sidecode strong {
  color: #444; }

.about-typo:hover .typo-creative {
  color: #FF5C4A; }

.about-typo:hover .typo-bus {
  color: #B2DD4C; }

.about-typo:hover .typo-focus {
  color: #FF4BB4; }

@media (max-width: 991px) {
  .about-content {
    padding-left: 0px;
    font-size: 12px; }
  .about-content p {
    font-size: 12px; }
  .focus-test {
    opacity: 1;
    font-size: 65px;
    position: relative;
    top: 0;
    left: auto;
    text-align: center;
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  .about-typo .typo-tech {
    font-size: 35px; }
  .about-typo .typo-focus {
    top: -13px;
    font-size: 31px; }
  .about-typo .typo-sidecode {
    top: -38px;
    right: 2px;
    font-size: 61px; }
  .about-typo .typo-creative {
    top: -69px;
    font-size: 51px; }
  .about-typo .typo-bus {
    top: -90px;
    font-size: 30px; } }

@media (max-width: 767px) {
  .focus-test {
    font-size: 35px;
    top: 0px; }
  #about {
    padding-top: 10px;
    padding-bottom: 0; }
  .about-content {
    padding: 10px;
    min-height: 0; }
  .about-content h2 {
    font-size: 22px;
    margin-top: -5px;
    padding-top: 0; }
  .about-content p {
    line-height: 20px; }
  .about-typo {
    top: 10px;
    min-height: 0;
    height: auto;
    position: static; } }

section.services {
  padding-top: 50px;
  margin-top: -125px;
  background-color: #F0F2F1;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3); }

.icon-wrap {
  display: inline-block; }

.icon-wrap.circle {
  background-color: #b2dd4c;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }

.icon-wrap.circle {
  border-radius: 100%; }

.icon-wrap.circle.checked {
  position: relative; }

.icon-wrap.circle.checked:after,
.icon-wrap.circle.checked:before {
  display: block;
  border-radius: 100%;
  background-color: #b2dd4c;
  position: absolute;
  color: #fff; }

.icon-wrap.circle.checked:before {
  width: 44px;
  height: 44px;
  bottom: 0;
  font-size: 16px;
  line-height: 44px;
  right: -12%;
  z-index: 9;
  content: "\e080";
  font-family: simple-line-icons;
  webkit-transition: opacity 0.3s cubic-bezier(0.39, 0.58, 0.57, 1) 0.1s;
  -webkit-transition: opacity 0.3s cubic-bezier(0.39, 0.58, 0.57, 1) 0.1s;
  transition: opacity 0.3s cubic-bezier(0.39, 0.58, 0.57, 1) 0.1s; }

.services-underline-icon-box-holder.services-background-animation:hover .services-underline-icon-box-text-holder .services-underline-icon-box-text,
.services-underline-icon-box-holder.services-background-animation:hover .services-underline-icon-box-underline {
  height: 100%; }

.service-holder .service-item {
  display: inline-block;
  vertical-align: top; }

.service-holder .service-item .item-wrapper {
  position: relative; }

.service-holder .service-item .service-item-icon-holder {
  display: inline-block;
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  border: 3px solid #e1e1e1;
  position: relative;
  border-radius: 50%;
  -webkit-transition: border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.service-holder .service-item .icon-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  line-height: 0;
  border-radius: 50%;
  border: 0 solid transparent;
  box-sizing: border-box;
  -webkit-transition: border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.service-holder .service-item .icon-wrap.circle {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #797979;
  border: 0; }

.service-holder .service-item .icon-wrap.circle .icon-elem {
  color: #fff;
  position: relative;
  top: 8px;
  font-size: 35px; }

.services #tabs li:last-child .item-wrapper:after {
  border: none; }

@media (max-width: 991px) {
  section.services {
    margin-top: -105px; }
  .icon-wrap.circle.checked:before {
    width: 44px;
    height: 44px;
    line-height: 44px; }
  .service-holder .service-item .service-item-icon-holder {
    width: 90px;
    height: 90px; }
  .service-holder .service-item .icon-wrap.circle {
    width: 45px;
    height: 45px;
    line-height: 38px; }
  .service-holder .service-item .icon-wrap.circle .icon-elem {
    font-size: 25px; }
  .services .nav-tabs > li, .nav-pills > li {
    width: 130px !important; }
  .service-holder .service-item .item-wrapper:after {
    width: 28%; } }

@media (max-width: 767px) {
  .icon-wrap.circle.checked:before {
    width: 44px;
    height: 44px;
    line-height: 44px; }
  .service-holder .service-item .service-item-icon-holder {
    width: 50px;
    height: 50px; }
  .service-holder .service-item .icon-wrap.circle {
    width: 35px;
    height: 35px;
    line-height: 20px; }
  .service-holder .service-item .icon-wrap.circle .icon-elem {
    font-size: 20px; }
  .services .nav-tabs > li, .nav-pills > li {
    width: 65px !important; }
  .service-holder .service-item .item-wrapper:after {
    border: none; }
  .nav > li > a {
    padding: 0; } }

.service-holder .service-item:hover .service-item-icon-holder {
  border-color: #b2dd4c; }

.service-holder .service-item:hover .icon-wrap.circle {
  background-color: #b2dd4c; }

.service-holder .service-item:hover .icon-bg {
  border: 20px solid rgba(178, 221, 76, 0.3);
  -webkit-transition: border 0.6s cubic-bezier(0.32, 1.63, 0.44, 1.82);
  transition: border 0.6s cubic-bezier(0.32, 1.63, 0.44, 1.82); }

.services .nav-tabs > li.active .service-item .service-item-icon-holder {
  border-color: #b2dd4c; }

.services .nav-tabs > li.active .service-item .icon-wrap.circle {
  background-color: #b2dd4c; }

.services .nav-tabs > li.active .service-item .icon-bg {
  border: 20px solid rgba(178, 221, 76, 0.3);
  -webkit-transition: border 0.6s cubic-bezier(0.32, 1.63, 0.44, 1.82);
  transition: border 0.6s cubic-bezier(0.32, 1.63, 0.44, 1.82); }

.services .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: none; }

.nav-tabs {
  border: none; }

.services .nav-tabs > li, .nav-pills > li {
  float: none;
  width: 210px;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */ }

.services .nav-tabs, .nav-pills {
  text-align: center; }

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: transparent;
  border: none; }

.tab-content {
  padding-top: 50px;
  padding-bottom: 50px; }

.tab-title {
  position: relative;
  font-weight: 700; }

.tab-text {
  line-height: 1.6;
  font-weight: 400;
  color: #838485; }

.tab-title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block; }

.bordred-img {
  width: 80%;
  float: right;
  height: auto; }

@media (max-width: 767px) {
  section.services {
    padding-top: 40px;
    margin-top: -66px; }
  .tab-content {
    padding-top: 20px; }
  .tab-title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 10px; }
  .tab-title:after {
    display: none; }
  .bordred-img {
    text-align: center;
    float: none;
    margin: 0 auto;
    width: 100%; } }

section.portfolio {
  padding-top: 50px;
  padding-bottom: 50px; }

section.portfolio h2.title {
  display: inline-block;
  margin: 0; }

section.portfolio h5 {
  margin: 0;
  font-size: 16px;
  line-height: 24px; }

section.portfolio h2.title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto; }

@media (max-width: 767px) {
  section.portfolio {
    padding-top: 20px;
    padding-bottom: 20px; }
  section.portfolio .headline {
    padding-top: 15px;
    padding-bottom: 15px; }
  section.portfolio .headline .title {
    font-size: 28px;
    margin-bottom: 10px;
    padding-bottom: 0; }
  section.portfolio .headline .subtitle {
    font-size: 14px; }
  section.portfolio #filters {
    padding: 0 10px 10px 10px; }
  section.portfolio #filters li {
    width: 50%;
    padding: 2px; }
  section.portfolio #filters li:first-child {
    width: 100%; }
  section.portfolio #filters li a {
    font-size: 10px;
    display: inline-block;
    width: 136px; } }

section.clients {
  position: relative;
  padding-bottom: 60px;
  padding-top: 30px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 35px RGBA(86, 67, 99, 0.5); }

section.clients h2.title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto; }

.clients h5 {
  font-size: 16px; }

.clients .container {
  padding-left: 60px;
  padding-right: 60px; }

.client-slider.slick-initialized .slick-slide {
  min-height: 0;
  height: auto; }

.client-slider .slick-slide {
  min-height: 0;
  height: auto;
  padding: 30px; }

.client-slider .slick-slide:focus {
  outline: none; }

.client-slider .slick-slide img {
  position: relative;
  display: block;
  max-width: 160px;
  max-height: 70px;
  min-height: 0;
  margin: 0 auto;
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
  -webkit-transition: all 500ms ease .1s;
  transition: all 500ms ease .1s; }

.client-slider .slick-slide img:hover {
  -webkit-filter: grayscale(0);
  /* Chrome, Safari, Opera */
  filter: grayscale(0);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

@media (max-width: 767px) {
  .clients h5 {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 24px; } }

section.recentArticles {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #EEEEEE;
  min-height: 500px; }

section.recentArticles h2.title {
  display: inline-block;
  margin: 0; }

section.recentArticles h5 {
  margin: 0;
  font-size: 16px;
  line-height: 24px; }

section.recentArticles h2.title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto; }

@media (max-width: 767px) {
  section.recentArticles {
    padding-top: 20px;
    padding-bottom: 20px; }
  section.recentArticles .headline {
    padding-top: 15px;
    padding-bottom: 15px; }
  section.recentArticles .headline .title {
    font-size: 28px;
    margin-bottom: 10px;
    padding-bottom: 0; }
  section.recentArticles .headline .subtitle {
    font-size: 14px; } }

section.recentArticles {
  /* card action */ }

section.recentArticles a {
  color: #9ec542; }

section.recentArticles .card-wrap {
  background-color: #fff;
  margin-bottom: 1.6rem;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

section.recentArticles .card-image {
  min-height: 100px;
  max-height: 210px;
  background-color: #eee;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden; }

section.recentArticles .card-image img {
  width: 100%;
  max-width: 100%;
  display: block; }

section.recentArticles .card-content {
  position: relative;
  padding: 1.6rem;
  min-height: 192px; }

section.recentArticles .card-excerpt {
  color: #666666; }

section.recentArticles .card-category {
  font-weight: 700; }

section.recentArticles .card-meta {
  text-align: left; }

section.recentArticles .card-meta time {
  font-size: 1.5rem;
  color: #bbb;
  margin-left: 0.8rem; }

section.recentArticles .card-article {
  padding-top: 15px; }

section.recentArticles .card-article h2 {
  font-weight: bold;
  font-size: 20px; }

section.recentArticles .card-article a {
  text-decoration: none;
  color: #444;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

section.recentArticles .card-article a:hover {
  color: #9ec542; }

section.recentArticles .card__action {
  overflow: hidden;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem; }

section.recentArticles .card-author {
  font-weight: 700;
  text-align: left;
  color: #9ec542; }

section.recentArticles .card-author img,
section.recentArticles .card-author-content {
  display: inline-block;
  vertical-align: middle; }

section.recentArticles .card-author img {
  border-radius: 50%;
  margin-right: 0.6em; }

section.recentArticles .card-share {
  float: right;
  position: relative;
  margin-top: -42px; }

section.recentArticles .card-social {
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 160px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.35s ease;
  transition: -webkit-transform 0.35s ease;
  transition: transform 0.35s ease;
  transition: transform 0.35s ease, -webkit-transform 0.35s ease; }

section.recentArticles .card-social--active {
  visibility: visible;
  /*z-index: 3;*/
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: translateX(-48px);
          transform: translateX(-48px);
  -webkit-transition: -webkit-transform 0.35s ease;
  transition: -webkit-transform 0.35s ease;
  transition: transform 0.35s ease;
  transition: transform 0.35s ease, -webkit-transform 0.35s ease; }

section.recentArticles .share-toggle {
  z-index: 2; }

section.recentArticles .share-toggle:before {
  content: "\f1e0";
  font-family: 'FontAwesome';
  color: #9ec542; }

section.recentArticles .share-toggle.share-expanded:before {
  content: "\f00d"; }

section.recentArticles .share-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }

section.recentArticles .share-icon:hover,
section.recentArticles .share-icon:focus {
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

section.recentArticles .facebook {
  background-color: #3b5998; }

section.recentArticles .twitter {
  background-color: #00abe3; }

section.recentArticles .googleplus {
  background-color: #d3492c; }

section.recentArticles .facebook,
section.recentArticles .twitter,
section.recentArticles .googleplus {
  color: #fff; }

section.recentArticles .facebook:hover,
section.recentArticles .twitter:hover,
section.recentArticles .googleplus:hover {
  color: #eee; }

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height;
  transition-property: height; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  transition-duration: 0s; }

.headline {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.page-template-page-portfolio .headline .title {
  font-size: 50px;
  display: inline-block;
  padding-bottom: 0px;
  font-weight: 800;
  margin-bottom: 0px; }

.page-template-page-portfolio .headline .title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto; }

.home .headline .title {
  font-size: 35px;
  font-weight: 700; }

.headline .subtitle {
  font-weight: 400;
  font-size: 16px; }

.page-template-page-portfolio {
  text-align: center; }

#filters {
  padding-bottom: 30px;
  text-align: center; }

#filters li {
  display: inline-block;
  padding: 5px;
  text-align: center; }

#filters li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 0 15px;
  font-weight: 800;
  text-align: center;
  cursor: pointer; }

#filters li a.active {
  color: #B2DD4C; }

#portfolio {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 50px; }

.portfolio-item {
  display: inline-block;
  width: 23.5%;
  height: auto;
  overflow: hidden;
  margin-bottom: 2%;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.3); }

.item-image-holder {
  max-height: 180px; }

#portfolio .project-main-img img {
  vertical-align: top;
  height: auto;
  max-width: 100%;
  min-width: 110px;
  min-height: 180px; }

@media (max-width: 1200px) {
  #portfolio {
    max-width: 900px;
    margin: 0 auto; }
  #portfolio .project-main-img img {
    min-height: 163px; }
  .item-image-holder {
    max-height: 160px; } }

@media (max-width: 992px) {
  #portfolio {
    max-width: 700px;
    margin: 0 auto; }
  .portfolio-item {
    width: 35%; } }

@media (max-width: 992px) {
  #portfolio {
    max-width: 500px;
    margin: 0 auto; }
  .portfolio-item {
    width: 46%; } }

@media (max-width: 991px) {
  .page-template-page-portfolio .headline {
    padding-top: 30px;
    padding-bottom: 20px; }
  .page-template-page-portfolio .headline .title {
    font-size: 32px;
    margin-bottom: 0; }
  .page-template-page-portfolio .headline .subtitle {
    font-size: 15px; }
  #filters {
    padding-top: 10px;
    padding-bottom: 20px; } }

@media (max-width: 767px) {
  #portfolio {
    max-width: 60%;
    margin: 0 auto; }
  .portfolio-item {
    width: 100%;
    margin-bottom: 5%; }
  .item-image-holder {
    max-height: 220px; }
  .page-template-page-portfolio .headline {
    padding-top: 30px;
    padding-bottom: 10px; }
  .page-template-page-portfolio .headline .title {
    font-size: 28px;
    margin-bottom: 0; }
  .page-template-page-portfolio .headline .subtitle {
    font-size: 14px;
    padding: 10px;
    padding-bottom: 0; }
  #filters {
    padding-bottom: 10px; }
  #filters li a {
    font-size: 11px; } }

@media (max-width: 480px) {
  #portfolio {
    max-width: 70%;
    margin: 0 auto; }
  .portfolio-item {
    width: 100%; } }

.portfolio-list-holder article {
  position: relative; }

article .item-text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 2;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s;
  -webkit-transition: opacity 0.25s, -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s, -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s, -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1); }

article .item-text-overlay-inner {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%; }

article .item-text-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
  box-sizing: border-box; }

article .item-text-holder h5.item-title {
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  color: #333; }

article .item-text-holder .item-title > a,
article .item-text-holder .ptf-category-holder span {
  color: #b2dd4c;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px; }

article .item-text-holder .ptf-categorsy-holder {
  color: #b2dd4c;
  margin: 6px 0 0; }

article:hover .item-text-overlay {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.portfolio-item .portfolio-shader {
  position: absolute;
  width: 100%;
  padding: 15% 0;
  height: 130%;
  display: block;
  background-color: rgba(255, 255, 255, 0.93);
  left: 0;
  top: -15%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.4s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s, -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius: 100%; }

.portfolio-item:hover .portfolio-shader {
  opacity: 1;
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

.project-slider .slick-list {
  box-shadow: -2px -1px 12px rgba(0, 0, 0, 0.2); }

.sp-wrap {
  padding-top: 34px; }

.sp-title {
  font-weight: 700;
  color: #202020;
  font-size: 34px;
  line-height: 1.284em; }

.sp-content {
  color: #202020;
  line-height: 24px;
  font-weight: 300;
  padding-bottom: 10px; }

.sp-detail-h {
  padding-bottom: 15px;
  color: #202020; }

.sp-detail-h span {
  font-weight: 700; }

.sp-detail-h a {
  color: #202020;
  font-weight: 600; }

.sp-detail-h i, .sp-details-h span {
  color: #B2DD4C;
  font-size: 16px;
  padding-bottom: 10px;
  padding-right: 3px; }

.sp-other-title {
  font-weight: 400;
  font-size: 23px;
  color: #b2dd4c; }

.sp-other-content {
  color: #202020;
  line-height: 26px;
  font-weight: 400;
  padding-bottom: 30px; }

.read-more-project {
  font-weight: 800;
  font-size: 14px;
  color: #B2DD4C;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0; }

.read-more-project i {
  padding-left: 5px;
  padding-right: 5px; }

.gr-breadcrumbs {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 800; }

.gr-breadcrumbs a {
  color: #333; }

.gr-breadcrumbs i {
  font-size: 12px;
  padding: 5px; }

.gr-breadcrumbs .crumb-current {
  color: #B2DD4C; }

.img-store {
  padding: 10px;
  padding-top: 5px;
  max-width: 140px;
  text-decoration: none; }

.links-wrap {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px; }

.img-link {
  position: relative;
  top: -5px;
  max-width: 25px;
  margin-right: 5px;
  margin-left: 10px; }

@media (max-width: 991px) {
  .gr-breadcrumbs {
    padding-bottom: 10px; }
  .sp-title {
    padding-top: 0;
    text-align: center;
    font-size: 24px; }
  .sp-content {
    font-size: 12px;
    padding-bottom: 10px; }
  .sp-detail-h {
    font-size: 12px;
    padding-bottom: 5px; }
  hr.hr-single {
    margin-top: 10px;
    margin-bottom: 10px; }
  .sp-other-content {
    font-size: 12px;
    line-height: 18px; } }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'FontAwesome';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0px;
  z-index: 2; }

.slick-prev:before {
  content: "\f053";
  font-family: 'FontAwesome'; }

[dir='rtl'] .slick-prev:before {
  content: "\f054"; }

.slick-next {
  right: 0;
  z-index: 2; }

.slick-next:before {
  content: "\f054"; }

[dir='rtl'] .slick-next:before {
  content: "\f053"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  font-family: rail;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'FontAwesome';
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '\f111';
  text-align: center;
  opacity: .25;
  color: RGBA(86, 67, 99, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: RGBA(86, 67, 99, 1); }

.slick-prev,
.slick-next {
  width: 55px;
  height: 55px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background: rgba(86, 67, 99, 0.4);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.slick-initialized .slick-slide {
  height: 500px; }

.slick-slide img {
  min-height: 500px; }

@media (max-width: 991px) {
  .slick-initialized .slick-slide {
    height: 400px; }
  .slick-slide img {
    min-height: 400px; }
  .slick-prev,
  .slick-next {
    width: 35px;
    height: 35px; } }

@media (max-width: 767px) {
  .slick-initialized .slick-slide {
    height: 200px; }
  .slick-slide img {
    min-height: 200px; } }

.about {
  padding-top: 30px;
  padding-bottom: 0px; }

.about-headline {
  text-align: center;
  padding-top: 30px; }

.about-headline h1 {
  display: inline-block;
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 0px;
  margin-bottom: 0; }

.about-headline h1:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto; }

.about-headline .subtitle {
  font-weight: 400;
  font-size: 16px; }

.about .headline {
  text-align: left; }

.about .headline .title {
  font-weight: 700;
  font-size: 22px; }

.about .headline .title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block; }

.about .content {
  font-size: 16px;
  line-height: 24px;
  text-align: left; }

.team {
  padding-top: 30px;
  padding-bottom: 30px; }

.team h2.title {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 26px; }

.team h2.title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  margin: 15px auto;
  display: block; }

.team h5.subtitle {
  margin: 0; }

.about2 .headline {
  padding-top: 80px; }

.team1 {
  padding-top: 30px;
  padding-bottom: 60px; }

.main-info-below-image {
  max-width: 270px;
  margin: 0 auto; }

@media (max-width: 991px) {
  .about-headline h1 {
    font-size: 32px;
    padding-bottom: 0; } }

@media (max-width: 767px) {
  .about-headline {
    padding-top: 30px; }
  .about-headline h1 {
    font-size: 28px;
    padding-bottom: 0px; }
  .about-headline .subtitle {
    font-size: 14px; }
  .about {
    padding-top: 10px;
    padding-bottom: 10px; }
  .team {
    padding-top: 0px; }
  .team .headline {
    padding: 0; }
  .about1 {
    padding-bottom: 10px; } }

.gr-team .gr-team-inner {
  overflow: hidden;
  width: 100%; }

.gr-team .gr-team-image {
  position: relative;
  overflow: hidden; }

.gr-team .gr-team-image img {
  width: 100%;
  vertical-align: middle; }

.gr-team .gr-team-description {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center; }

.gr-team .gr-team-text {
  padding: 20px 0; }

.gr-team .gr-team-social-wrapp {
  margin: 15px 0 0; }

.gr-team .gr-team-social {
  display: table;
  width: 100%;
  height: 100%; }

.gr-team .gr-team-social .qode_icon_ion_icon:before,
.gr-team .gr-team-social .qode_icon_linea_icon:before {
  line-height: inherit; }

.gr-team .gr-team-social-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative; }

.gr-team .gr-team-social-holder {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  display: table-cell;
  vertical-align: middle;
  background-color: #b2dd4c;
  -webkit-transition: opacity .15s ease-out, background-color .15s ease-out;
  transition: opacity .15s ease-out, background-color .15s ease-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.gr-team .gr-team-social-holder .social_icon {
  font-size: inherit;
  line-height: inherit;
  display: block; }

.gr-team .gr-team-social-holder .social_icon:before {
  display: block; }

.gr-team:hover .gr-team-social-holder {
  opacity: 1;
  filter: alpha(opacity=100); }

.gr-team.main-info-below-image {
  -webkit-transform: translateZ(0); }

.gr-team.main-info-below-image .gr-team-inner {
  overflow: visible; }

.gr-team.main-info-below-image .gr-team-info .gr-team-name {
  color: #222;
  margin-bottom: 15px; }

.gr-team.main-info-below-image .gr-team-image {
  overflow: visible;
  margin: 0 30px 32px;
  position: relative; }

.gr-team.main-info-below-image .q_team_position {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: opacity .1s ease-out 0s;
  -webkit-transition: opacity 0.1s ease-out 0s;
  transition: opacity 0.1s ease-out 0s; }

.gr-team.main-info-below-image .gr-team-position-icon {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: opacity 0.25s cubic-bezier(0.39, 0.58, 0.57, 1) 0.1s;
  transition: opacity 0.25s cubic-bezier(0.39, 0.58, 0.57, 1) 0.1s; }

.gr-team.main-info-below-image .gr-circle-animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: #b2dd4c;
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), width 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), height 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: width 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), height 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: width 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), height 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), width 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), height 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), width 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), height 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.gr-team.main-info-below-image .gr-icon-shortcode {
  width: 55px;
  height: 55px;
  line-height: 59px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border-radius: 100%;
  color: #fff;
  border: none;
  background-color: transparent; }

.gr-team.main-info-below-image .gr-team-image img {
  border-radius: 100%; }

.gr-team-info {
  text-align: center;
  margin-top: 0; }

.gr-team.main-info-below-image .gr-team-text {
  padding: 0; }

.gr-team.main-info-below-image .gr-icon-shortcode i {
  font-size: 24px; }

.gr-team.main-info-below-image:hover .gr-circle-animate {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  width: 100%;
  height: 100%;
  right: 0;
  top: 0; }

.gr-team.main-info-below-image:hover .q_team_position {
  opacity: 1;
  font-size: 24px;
  padding: 10px;
  font-weight: 700;
  -webkit-transition: opacity .15s ease-out .1s;
  -webkit-transition: opacity 0.15s ease-out 0.1s;
  transition: opacity 0.15s ease-out 0.1s; }

.gr-team.main-info-below-image:hover .gr-team-position-icon {
  opacity: 0;
  -webkit-transition: opacity 0.2s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
  transition: opacity 0.2s cubic-bezier(0.39, 0.58, 0.57, 1) 0s; }

.gr-team-name {
  font-weight: 700;
  font-size: 18px; }

.gr-team-name:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  margin: 15px auto;
  display: block; }

.gr-team-title-holder h4 {
  font-size: 14px; }

.gr-team-description {
  font-size: 13px; }

.about .first-part {
  padding-bottom: 50px; }

.page-template-page-about .slick-initialized .slick-slide {
  height: 350px; }

.page-template-page-about .slick-slide img {
  min-height: 350px; }

@media (max-width: 991px) {
  .page-template-page-about .slick-initialized .slick-slide {
    height: 400px; }
  .page-template-page-about .slick-slide img {
    min-height: 350px; }
  .page-template-page-about .slick-prev,
  .page-template-page-about .slick-next {
    width: 35px;
    height: 35px; } }

@media (max-width: 1199px) {
  .page-template-page-about .slick-initialized .slick-slide {
    height: 260px; }
  .page-template-page-about .slick-slide img {
    min-height: 260px; } }

@media (max-width: 991px) {
  .page-template-page-about .slick-initialized .slick-slide {
    height: 230px; }
  .page-template-page-about .slick-slide img {
    min-height: 230px; } }

@media (max-width: 767px) {
  .page-template-page-about .slick-initialized .slick-slide {
    height: 200px; }
  .page-template-page-about .slick-slide img {
    min-height: 200px; } }

.having-fun {
  padding-bottom: 100px; }

.having-fun .headline {
  text-align: center; }

.having-fun .headline h2.title {
  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  margin: 0; }

.having-fun .headline h2.title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  margin: 15px auto;
  display: block; }

.having-fun .content {
  font-size: 18px; }

@media (max-width: 1199px) {
  .about .headline {
    padding-top: 10px;
    padding-bottom: 10px; }
  .about .headline .title {
    font-size: 22px;
    margin-bottom: 5px; }
  .about .content {
    font-size: 14px;
    line-height: 20px;
    text-align: left; } }

@media (max-width: 991px) {
  .having-fun {
    padding-bottom: 50px; }
  .having-fun .content {
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px; }
  .main-info-below-image {
    padding-top: 20px; } }

@media (max-width: 767px) {
  .about {
    padding-bottom: 10px; }
  .having-fun-2 {
    padding-top: 30px; } }

.page-template-page-contact .facebook {
  box-shadow: none; }

#map {
  width: 100%;
  height: 350px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3); }

.help-block {
  display: none; }

.has-error .help-block {
  display: block; }

.has-error .details-err-msg {
  display: block; }

.section.map {
  margin-top: -5px; }

.contact-details {
  padding-top: 50px;
  padding-bottom: 50px; }

.contact-details .container {
  max-width: 800px; }

.contact-details h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 20px; }

.contact-details h2:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto; }

.contact-details h4 {
  font-weight: 700;
  font-size: 16px; }

.contact-details p {
  font-size: 14px; }

.contact-details a {
  color: #333; }

.contact-details .contact-details-spacer {
  padding: 20px; }

.contact-details .details-block {
  min-height: 150px; }

.contact-details .details-email i {
  font-size: 20px; }

.contact-details .detail-icon {
  float: left;
  font-size: 26px;
  position: relative;
  top: -12px;
  left: 8px; }

.contact-details .detail-text {
  float: left;
  padding-bottom: 0px; }

.contact-details .details-address {
  overflow: auto;
  padding-bottom: 0px; }

.contact-details .details-email {
  overflow: auto;
  padding-bottom: 20px; }

.contact-us {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FCFCFD;
  color: #202020;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3); }

.contact-us .contact-title h1 {
  text-align: center;
  font-weight: 700;
  padding-bottom: 0; }

.contact-us .contact-title h1:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto; }

.btn-contact-wrap {
  padding: 5px;
  text-align: right; }

.map-waze {
  width: 35px;
  height: 35px; }

.contact-hero-wrap {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 350px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/contact/contact.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/contact/contact.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.4))), url("img/contact/contact.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("img/contact/contact.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 50%;
  box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75); }

.contact-hero-wrap h1 {
  color: #eee;
  text-shadow: 2px 2px #333;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 150px; }

.contact-hero-wrap h1:after {
  text-align: center;
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  margin: 15px auto;
  display: block; }

@media (max-width: 767px) {
  .contact-hero-wrap {
    width: 100%;
    height: 200px; } }

.form h3 {
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 18px; }

.btn-contact-wrap .btn-success {
  background-color: #B1DF3E;
  border: #B1DF3E;
  color: #333;
  font-weight: 700;
  box-shadow: 0px 10px 20px rgba(150, 150, 150, 0.4); }

.contact-us input[type="text"], input[type="email"] {
  border-radius: 0;
  padding: 10px;
  height: 30px;
  resize: none;
  border-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

textarea#content {
  border-radius: 0;
  padding: 10px;
  resize: none;
  border-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

.input-subject {
  height: 30px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-color: #fff; }

.preview-wrap {
  z-index: 0; }

.preview-title {
  padding-left: 110px;
  font-weight: 700;
  font-size: 18px; }

.preview {
  color: #333;
  position: relative;
  margin: 20px auto;
  padding: 30px;
  max-width: 350px;
  height: 420px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); }

.preview h3 {
  font-size: 12px; }

.preview h4 {
  font-size: 16px;
  font-weight: 700;
  text-align: center; }

.preview::before,
.preview::after {
  content: '';
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.preview::before {
  left: 15px;
  -webkit-transform: skew(-5deg) rotate(-5deg);
          transform: skew(-5deg) rotate(-5deg); }

.preview::after {
  right: 15px;
  -webkit-transform: skew(5deg) rotate(5deg);
          transform: skew(5deg) rotate(5deg); }

.preview:hover::before,
.preview:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4); }

.preview:hover::before {
  left: 5px; }

.preview:hover::after {
  right: 5px; }

#letter-content {
  min-height: 260px;
  font-size: 12px;
  word-break: break-all; }

.letter-sig {
  font-weight: 700; }

.form-response-message {
  text-align: left;
  float: left;
  padding: 6px;
  font-size: 18px;
  border: 4px solid RGBA(178, 221, 76, 1); }

.form-response-message.respose-fail {
  border: 4px solid RGBA(201, 23, 11, 1); }

.loading-spinner {
  position: relative;
  top: 10px; }

@media (max-width: 1199px) {
  .preview-title {
    padding-left: 80px; } }

@media (max-width: 991px) {
  .preview-title {
    padding-left: 30px; }
  .contact-details {
    padding-top: 20px;
    padding-bottom: 20px; }
  .contact-details h2 {
    font-size: 25px; }
  .contact-details h4 {
    font-size: 14px; }
  .contact-details p {
    font-size: 12px; }
  .contact-details .details-block {
    min-height: 115px; }
  .contact-details .contact-details-spacer {
    padding: 10px; }
  .contact-us {
    padding-top: 30px; }
  .contact-us .contact-title h1 {
    font-size: 25px;
    padding-bottom: 10px; }
  .contact-us .form h3 {
    font-size: 16px; } }

@media (max-width: 767px) {
  .preview-title {
    padding-left: 0px;
    text-align: center; }
  #map {
    height: 250px; }
  .contact-details h2 {
    font-size: 20px; }
  .contact-details .contact-details-spacer {
    padding: 0; }
  .contact-details .details-block {
    min-height: 0; }
  .contact-us .contact-title h1 {
    font-size: 20px;
    padding-bottom: 10px; }
  .contact-us input[type="text"], input[type="email"], textarea#content {
    padding: 10px; }
  .input-subject {
    height: 30px; }
  .btn-contact-wrap {
    text-align: center; }
  .preview {
    height: 400px; }
  #letter-content {
    min-height: 220px; }
  .preview-wrap {
    padding-top: 30px; } }

@media (max-width: 480px) {
  #map {
    height: 200px; }
  .contact-details h2 {
    font-size: 18px; }
  .contact-details h4 {
    font-size: 12px; }
  .contact-details p {
    font-size: 12px; }
  .contact-us .form h3 {
    font-size: 14px; }
  .contact-us .btn-contact-wrap .btn-success {
    font-size: 14px; } }

.page-template-page-articles a {
  text-decoration: none; }

.page-template-page-articles a:hover {
  color: #B1DF3E; }

.page-template-page-articles p {
  font-size: 16px;
  line-height: 150%;
  color: #414a51; }

.articles-header {
  width: 100%;
  height: 450px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img/articles/blog2.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img/articles/blog2.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.4))), url("img/articles/blog2.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/articles/blog3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 35%;
  margin-bottom: 50px;
  box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75); }

.articles-header .title {
  vertical-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 65px;
  padding-top: 205px;
  padding-left: 80px; }

svg#layer_top {
  position: relative;
  left: 57px;
  top: -107px;
  width: 498px;
  -webkit-transition: all 3s ease-out;
  transition: all 3s ease-out; }

svg#layer_top {
  stroke: #C4EE00;
  stroke-width: 3px;
  fill: none;
  stroke-dasharray: 630, 500;
  stroke-dashoffset: 0;
  -webkit-animation: pulse 5s infinite linear;
          animation: pulse 5s infinite linear;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out; }

svg#layer_top:nth-child(1) {
  stroke: #C4EE00; }

svg#layer_top:hover path {
  stroke: #564363;
  stroke-width: 3px;
  fill: none;
  stroke-dasharray: 630, 500;
  stroke-dashoffset: 0;
  -webkit-animation: pulse 5s infinite linear;
          animation: pulse 5s infinite linear;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out; }

svg#layer_top:hover path:nth-child(1) {
  stroke: #564363; }

.main-content {
  padding: 10px 130px; }

.article-img-wrap {
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 270px;
  overflow: hidden;
  box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 25px; }

.article-img-wrap img {
  height: auto;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
  /* IE 6-9 */
  -webkit-transition: all 3s ease-out;
  transition: all 3s ease-out; }

.article-img-wrap img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-filter: none;
          filter: none;
  /* IE 6-9 */
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }

article h2.post-title {
  font-weight: 700;
  padding-bottom: 5px;
  color: #333;
  -webkit-transition: color .3s ease-out,background-color .2s ease-out,border-color .2s ease-out;
  transition: color .3s ease-out,background-color .2s ease-out,border-color .2s ease-out; }

article a:hover h2.post-title {
  color: #B1DF3E; }

article .details {
  padding-bottom: 10px; }

article .details span {
  font-weight: 700;
  padding-left: 4px;
  padding-right: 20px; }

article .details i {
  color: #564363;
  font-size: 20px;
  font-weight: 500; }

hr,
aside hr {
  border-color: #C4EE00;
  margin-top: 10px;
  margin-bottom: 15px; }

hr {
  display: block;
  height: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  border-top: 2px solid #737C93; }

.first-line {
  margin-top: 31px;
  margin-bottom: 20px; }

@media (max-width: 1199px) {
  .main-content {
    padding: 10px 30px; } }

@media (max-width: 991px) {
  .articles-header {
    height: 300px;
    margin-bottom: 20px; }
  .articles-header .title {
    padding-top: 100px; }
  .main-content {
    padding: 10px 15px; }
  .article-img-wrap {
    margin-top: 10px;
    height: 220px; }
  hr.first-line {
    margin-top: 10px;
    margin-bottom: 10px; }
  article h2.post-title {
    font-size: 24px; }
  .page-template-page-articles p {
    font-size: 14px; } }

@media (max-width: 767px) {
  .articles-header {
    height: 160px;
    margin-bottom: 20px; }
  .articles-header .title {
    padding-left: 30px;
    padding-top: 50px;
    font-size: 30px; }
  svg#layer_top {
    left: 38px;
    top: -45px;
    width: 200px; }
  .article-img-wrap {
    height: 160px; }
  article h2.post-title {
    font-size: 18px; }
  .page-template-page-articles p {
    font-size: 12px; }
  .details span {
    font-size: 10px; } }

svg {
  height: auto;
  width: 100%; }

.widget_recent_entries .title {
  margin-bottom: -50px; }

svg#Layer_1 {
  stroke: #564363;
  stroke-width: 3px;
  fill: none;
  stroke-dasharray: 630, 500;
  stroke-dashoffset: 0;
  -webkit-animation: pulse 4s infinite linear;
          animation: pulse 4s infinite linear; }

svg#Layer_1:nth-child(1) {
  stroke: #564363; }

svg#Layer_1:hover path {
  stroke: #C4EE00;
  stroke-width: 3px;
  fill: none;
  stroke-dasharray: 630, 500;
  stroke-dashoffset: 0;
  -webkit-animation: pulse 4s infinite linear;
          animation: pulse 4s infinite linear; }

svg#Layer_1:hover path:nth-child(1) {
  stroke: #C4EE00; }

@-webkit-keyframes pulse {
  0% {
    stroke-dashoffset: 1130; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes pulse {
  0% {
    stroke-dashoffset: 1130; }
  100% {
    stroke-dashoffset: 0; } }

.gr-sidebar {
  padding-bottom: 50px; }

.gr-sidebar h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 10px; }

.gr-sidebar ul {
  list-style: none; }

.gr-sidebar ul li a {
  color: #333;
  font-weight: 600;
  font-size: 16px; }

.gr-sidebar .post-date {
  display: block;
  color: #B1DF3E;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 20px; }

.gr-sidebar .cat-item {
  padding-bottom: 10px;
  font-weight: 800;
  font-size: 18px; }

.widget_recent_entries .posts-list {
  margin-top: -30px; }

.post-title {
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 28px;
  font-weight: 800;
  position: relative;
  z-index: 20; }

@media (max-width: 991px) {
  .gr-sidebar ul li a {
    font-size: 14px; } }

.pagination {
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 45px;
  text-align: center; }

.pagination .page-numbers {
  margin: 3px;
  color: #888;
  line-height: 33px;
  vertical-align: middle;
  font-size: 14px;
  padding: 13px 18px;
  text-align: center;
  border: 2px solid #e6e6e6;
  border-radius: 3px;
  -webkit-transition: background-color .15s ease-out,border-color .15s ease-out;
  transition: background-color .15s ease-out,border-color .15s ease-out; }

.pagination .page-numbers:hover {
  background-color: #b2dd4c;
  color: #fff;
  border-color: #b2dd4c;
  text-decoration: none; }

.pagination .page-numbers.current {
  background-color: #b2dd4c;
  color: #fff;
  border-color: #b2dd4c; }

.single-post .gr-breadcrumbs {
  padding-top: 30px; }

.single-post h1.title {
  text-align: center;
  max-width: 900px;
  color: #333;
  font-size: 50px;
  font-weight: 700;
  margin: 0 auto; }

.author {
  padding-top: 20px;
  font-weight: 800;
  font-size: 20px;
  text-align: center; }

.single-details {
  padding-top: 10px;
  text-align: center; }

.single-article-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  font-size: 17px;
  margin-bottom: 1em;
  color: #414a51; }

.single-article-content blockquote {
  color: #202020;
  font-weight: 700; }

.single-article-content img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center; }

.single-article-content a {
  color: #F56C6A; }

.single-article-content ul, .single-article-content ol {
  padding-left: 40px; }

.single-article-img-wrap {
  margin-top: -1px;
  display: block;
  width: 100%;
  height: 400px;
  overflow: hidden;
  box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 25px; }

.single-article-img-wrap img {
  height: auto;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
          filter: gray;
  /* IE 6-9 */
  -webkit-transition: all 3s ease-out;
  transition: all 3s ease-out; }

.single-article-img-wrap img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-filter: none;
          filter: none;
  /* IE 6-9 */
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out; }

.article-comments {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 50px; }

.article-comments p {
  font-size: 16px;
  font-weight: 700; }

.article-comments .comment-title {
  font-weight: 200;
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 20px;
  color: #333; }

.article-comments .loggedin {
  font-size: 16px;
  font-weight: 700; }

.article-comments h2#comments {
  font-weight: 800;
  font-size: 40px;
  padding-bottom: 20px;
  color: #333; }

.article-comments ol.commentlist li.comment div.vcard img.avatar {
  float: left;
  padding-right: 10px; }

.article-comments ol.commentlist li {
  margin-bottom: 20px; }

.article-comments ol.commentlist .children li {
  box-shadow: none; }

.article-comments ol.commentlist li.comment ul.children li {
  border-left: 3px solid #B1DF3E; }

.article-comments ol.commentlist p {
  font-weight: 500; }

.article-comments .comment-author {
  font-size: 22px; }

.article-comments ol.commentlist li.comment div.comment-meta {
  padding-bottom: 10px; }

.article-comments ol.commentlist li.comment div.comment-meta a {
  color: #B1DF3E;
  font-size: 14px; }

.article-comments ol.commentlist .says {
  display: none; }

.article-comments ol.commentlist li.comment div.reply a {
  display: inline-block;
  padding: 6px 25px;
  width: auto;
  background-color: #564363;
  border-color: #564363;
  border-radius: 4px; }

.article-comments ol.commentlist li.comment div.reply a:hover {
  background-color: #B1DF3E;
  border-color: #B1DF3E; }

.article-comments ol.commentlist li.comment {
  border: none; }

.article-comments ol.commentlist li.comment div.reply a {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-decoration: none; }

.article-comments .article-submit-btn {
  background-color: #564363;
  border-color: #564363;
  font-size: 16px; }

.article-comments .commentlist img {
  width: auto; }

.article-comments .article-submit-btn:hover {
  background-color: #B1DF3E;
  border-color: #B1DF3E; }

@media (max-width: 991px) {
  .gr-breadcrumbs {
    font-size: 14px; }
  .single-post h1.title {
    font-size: 30px; }
  .single-post .author {
    padding-top: 10px;
    font-size: 16px; }
  .single-details {
    padding-top: 0; }
  .single-article-content {
    padding: 20px;
    padding-top: 10px;
    font-size: 12px; }
  article .details i {
    font-size: 16px; }
  .article-comments .comment-title {
    font-size: 22px; } }

@media (max-width: 991px) {
  .single-post h1.title {
    font-size: 22px; }
  .single-post .author {
    padding-top: 10px;
    font-size: 14px; }
  .sharing-wrap {
    text-align: center; } }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.footer {
  background: #212121;
  color: #fff;
  font-size: 14px;
  text-align: left;
  padding-top: 30px;
  border-top: 2px solid #303030;
  box-shadow: 0 -7px 15px 0 rgba(0, 0, 0, 0.3); }

.footer .borderized {
  border-left: 2px solid #3B3B3B; }

.footer .padded {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 250px; }

.footer-logo img {
  max-width: 150px; }

.footer .title {
  color: #fff;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700; }

.footer .title span {
  font-size: 24px;
  color: #efefef; }

.footer .address,
.footer .email,
.footer .phone {
  position: relative;
  padding-top: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
  color: #efefef; }

.footer .email a {
  color: #efefef; }

.footer .phone a {
  color: #efefef; }

.footer .email a:hover {
  color: #B2DD4C; }

.footer .phone a:hover {
  color: #B2DD4C; }

.footer-menu {
  list-style: none; }

.footer-menu a {
  padding: 3px;
  color: #efefef;
  font-size: 14px;
  font-weight: 400; }

.footer .copyright {
  margin-top: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
  background-color: #202020; }

.footer hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(48, 48, 48, 0.5); }

.social-networks a {
  display: inline-block;
  text-decoration: none;
  color: #efefef;
  font-size: 23px;
  margin: 5px;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out; }

.social-networks a:hover i {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  color: #B2DD4C; }

#menu-menu-main-2 a:hover {
  color: #B2DD4C; }

.something-else-list {
  list-style: none; }

.something-else-list li {
  padding-bottom: 5px; }

.something-else-list a {
  color: #efefef; }

.something-else-list a:hover {
  color: #B2DD4C; }

@media (max-width: 767px) {
  .footer {
    text-align: center; }
  .footer .padded {
    border-bottom: 2px solid #3B3B3B;
    padding: 10px 5px;
    min-height: 0; }
  .footer .title {
    font-size: 18px; }
  .footer .title span {
    font-size: 20px; }
  .footer .address, .footer .email, .footer .phone {
    font-size: 14px; } }

.sharing-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 50px; }

ul.share-list {
  position: relative;
  top: 15px;
  margin-left: 30px;
  padding-left: 0px;
  display: inline-block;
  list-style: none;
  border-radius: 4px;
  border: 3px solid #564363;
  margin-bottom: 0; }

ul.share-list li {
  float: left;
  border-left: 3px solid #564363; }

ul.share-list li:first-child {
  border: none; }

ul.share-list li a {
  display: block;
  font-size: 22px;
  color: #564363;
  padding: 5px 14px; }

ul.share-list li:hover {
  background-color: #B1DF3E; }

ul.share-list li:hover a {
  color: #564363; }

.share-text {
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  vertical-align: center;
  color: #564363; }

@media (max-width: 991px) {
  .share-text {
    font-size: 16px; }
  ul.share-list li a {
    font-size: 18px; } }

.page-default-wrap {
  padding-top: 60px;
  padding-bottom: 60px; }

.page-default-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 30px; }

.page-default-title h1 {
  font-weight: 700; }

.page-default-content {
  text-align: left;
  font-size: 16px; }
