/*
Theme Name: GRapps Ads Network
Theme URI: http://ads.grapps.io
Description:
Author: Jhonny Cohen
Author URI: http://grapps.io
Version: 1
*/
/*   
Theme Name: GRapps Theme
Theme URI: http://grapps.io
Description:
Author: Jhonny Cohen
Author URI: http://grapps.io
Version: 1
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:700,100,300,400);
@media screen {
  * {
    margin: 0;
    padding: 0; }
  body {
    background: white;
    font: 14px/1.4 'Raleway',Arial, Serif; }
  .screen-reader-text {
    position: absolute;
    left: -9999px;
    top: -9999px; }
  .clear {
    clear: both; }
  .group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  * html .group, *:first-child + html .group {
    zoom: 1; }
  /* First selector = IE6, Second Selector = IE 7 */
  #page-wrap {
    width: 960px;
    margin: 20px auto; }
  h1, h2, h3 {
    font-weight: normal;
    margin: 0 0 10px 0; }
  p {
    margin: 0 0 10px 0; }
  ul, ol {
    margin: 0 0 10px 0; }
  ol.commentlist {
    list-style: none; }
  ol.commentlist li.comment {
    border-bottom: 1px dotted #666;
    padding: 10px; }
  ol.commentlist li.comment div.vcard cite.fn {
    font-style: normal; }
  ol.commentlist li.comment div.vcard img.avatar {
    float: right;
    margin: 0 0 10px 10px; }
  ol.commentlist li.comment div.comment-meta {
    font-size: 10px; }
  ol.commentlist li.comment div.comment-meta a {
    color: #ccc; }
  ol.commentlist li.comment div.reply {
    font-size: 11px; }
  ol.commentlist li.comment div.reply a {
    font-weight: bold; }
  ol.commentlist li.comment ul.children {
    list-style: none;
    margin: 10px 0 0; }
  ol.commentlist li.comment ul.children li.depth-2 {
    border-left: 5px solid #555;
    margin: 0 0 10px 10px; }
  ol.commentlist li.comment ul.children li.depth-3 {
    border-left: 5px solid #999;
    margin: 0 0 10px 10px; }
  ol.commentlist li.comment ul.children li.depth-4 {
    border-left: 5px solid #bbb;
    margin: 0 0 10px 10px; }
  ol.commentlist li.even {
    background: #fff; }
  ol.commentlist li.odd {
    background: #f6f6f6; }
  ol.commentlist li.parent {
    border-left: 5px solid #111; } }

/* END screen media */
@media print {
  .do-not-print {
    display: none; }
  #comments {
    page-break-before: always; }
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.4;
    word-spacing: 1.1pt;
    letter-spacing: 0.2pt;
    color: #000;
    background: none;
    font-size: 12pt; }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Railway', Arial, sans-serif; }
  h1 {
    font-size: 19pt; }
  h2 {
    font-size: 17pt; }
  h3 {
    font-size: 15pt; }
  h4, h5, h6 {
    font-size: 12pt; }
  code {
    font: 10pt Courier, monospace; }
  blockquote {
    margin: 1.3em;
    padding: 1em; }
  img {
    display: block;
    margin: 1em 0; }
  a img {
    border: none; }
  table {
    margin: 1px;
    text-align: left; }
  th {
    border-bottom: 1px solid #333;
    font-weight: bold; }
  td {
    border-bottom: 1px solid #333; }
  th, td {
    padding: 4px 10px 4px 0; }
  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left; }
  thead {
    display: table-header-group; }
  tr {
    page-break-inside: avoid; }
  a {
    text-decoration: none;
    color: black; } }

/* END print media */
.row-no-padding [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0; }

@media screen {
  * {
    margin: 0;
    padding: 0; }
  body {
    background: white;
    font: 14px/1.4 'Raleway',Arial, Serif; }
  .screen-reader-text {
    position: absolute;
    left: -9999px;
    top: -9999px; }
  .clear {
    clear: both; }
  .group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  * html .group, *:first-child + html .group {
    zoom: 1; }
  /* First selector = IE6, Second Selector = IE 7 */
  #page-wrap {
    width: 960px;
    margin: 20px auto; }
  h1, h2, h3 {
    font-weight: normal;
    margin: 0 0 10px 0; }
  p {
    margin: 0 0 10px 0; }
  ul, ol {
    margin: 0 0 10px 0; }
  ol.commentlist {
    list-style: none; }
  ol.commentlist li.comment {
    border-bottom: 1px dotted #666;
    padding: 10px; }
  ol.commentlist li.comment div.vcard cite.fn {
    font-style: normal; }
  ol.commentlist li.comment div.vcard img.avatar {
    float: right;
    margin: 0 0 10px 10px; }
  ol.commentlist li.comment div.comment-meta {
    font-size: 10px; }
  ol.commentlist li.comment div.comment-meta a {
    color: #ccc; }
  ol.commentlist li.comment div.reply {
    font-size: 11px; }
  ol.commentlist li.comment div.reply a {
    font-weight: bold; }
  ol.commentlist li.comment ul.children {
    list-style: none;
    margin: 10px 0 0; }
  ol.commentlist li.comment ul.children li.depth-2 {
    border-left: 5px solid #555;
    margin: 0 0 10px 10px; }
  ol.commentlist li.comment ul.children li.depth-3 {
    border-left: 5px solid #999;
    margin: 0 0 10px 10px; }
  ol.commentlist li.comment ul.children li.depth-4 {
    border-left: 5px solid #bbb;
    margin: 0 0 10px 10px; }
  ol.commentlist li.even {
    background: #fff; }
  ol.commentlist li.odd {
    background: #f6f6f6; }
  ol.commentlist li.parent {
    border-left: 5px solid #111; } }

/* END screen media */
@media print {
  .do-not-print {
    display: none; }
  #comments {
    page-break-before: always; }
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.4;
    word-spacing: 1.1pt;
    letter-spacing: 0.2pt;
    color: #000;
    background: none;
    font-size: 12pt; }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Railway', Arial, sans-serif; }
  h1 {
    font-size: 19pt; }
  h2 {
    font-size: 17pt; }
  h3 {
    font-size: 15pt; }
  h4, h5, h6 {
    font-size: 12pt; }
  code {
    font: 10pt Courier, monospace; }
  blockquote {
    margin: 1.3em;
    padding: 1em; }
  img {
    display: block;
    margin: 1em 0; }
  a img {
    border: none; }
  table {
    margin: 1px;
    text-align: left; }
  th {
    border-bottom: 1px solid #333;
    font-weight: bold; }
  td {
    border-bottom: 1px solid #333; }
  th, td {
    padding: 4px 10px 4px 0; }
  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left; }
  thead {
    display: table-header-group; }
  tr {
    page-break-inside: avoid; }
  a {
    text-decoration: none;
    color: black; } }

/* END print media */
.row-no-padding [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0; }

img {
  width: 100%;
  height: auto; }

a {
  color: #E62565; }

a:focus, a:hover {
  color: #C41C66;
  text-decoration: underline; }

.top-border {
  height: 3px;
  width: 100%;
  border-top: 3px solid #564363; }

.default-page {
  min-height: 100%;
  text-align: center;
  padding-top: 200px; }
  .default-page #logo-wrap img {
    max-width: 300px; }
  .default-page .page-title {
    font-weight: bold;
    font-size: 55px;
    color: #5B4863;
    text-shadow: 2px 5px 50px #333; }

.help-block {
  display: none; }

.has-error .help-block {
  display: block; }

.has-error .details-err-msg {
  display: block; }

.section.map {
  margin-top: -5px; }

textarea#content {
  border-radius: 0;
  padding: 10px;
  resize: none;
  border-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

.preview-wrap {
  z-index: 0; }

.preview-title {
  padding-left: 110px;
  font-weight: 700;
  font-size: 18px; }

.preview {
  color: #333;
  position: relative;
  margin: 20px auto;
  padding: 30px;
  max-width: 350px;
  height: 420px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); }

.preview h3 {
  font-size: 12px; }

.preview h4 {
  font-size: 16px;
  font-weight: 700;
  text-align: center; }

.preview::before,
.preview::after {
  content: '';
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all .3s ease-in-out; }

.preview::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg); }

.preview::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg); }

.preview:hover::before,
.preview:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4); }

.preview:hover::before {
  left: 5px; }

.preview:hover::after {
  right: 5px; }

#letter-content {
  min-height: 260px;
  font-size: 12px;
  word-break: break-all; }

.letter-sig {
  font-weight: 700; }

.form-response-message {
  text-align: left;
  float: left;
  padding: 6px;
  font-size: 18px;
  border: 4px solid RGBA(178, 221, 76, 1); }

.form-response-message.respose-fail {
  border: 4px solid RGBA(201, 23, 11, 1); }

.loading-spinner {
  position: relative;
  top: 10px; }

@media (max-width: 1199px) {
  .preview-title {
    padding-left: 80px; } }

@media (max-width: 991px) {
  .preview-title {
    padding-left: 30px; }
  .contact-details {
    padding-top: 20px;
    padding-bottom: 20px; }
    .contact-details h2 {
      font-size: 25px; }
    .contact-details h4 {
      font-size: 14px; }
    .contact-details p {
      font-size: 12px; }
    .contact-details .details-block {
      min-height: 115px; }
    .contact-details .contact-details-spacer {
      padding: 10px; }
  .contact-us {
    padding-top: 30px; }
  .contact-us .contact-title h1 {
    font-size: 25px;
    padding-bottom: 10px; }
  .contact-us .form h3 {
    font-size: 16px; } }

@media (max-width: 767px) {
  .preview-title {
    padding-left: 0px;
    text-align: center; }
  #map {
    height: 250px; }
  .contact-details h2 {
    font-size: 20px; }
  .contact-details .contact-details-spacer {
    padding: 0; }
  .contact-details .details-block {
    min-height: 0; }
  .contact-us .contact-title h1 {
    font-size: 20px;
    padding-bottom: 10px; }
  .contact-us input[type="text"], input[type="email"], textarea#content {
    padding: 10px; }
  .input-subject {
    height: 30px; }
  .btn-contact-wrap {
    text-align: center; }
  .preview {
    height: 400px; }
  #letter-content {
    min-height: 220px; }
  .preview-wrap {
    padding-top: 30px; } }

@media (max-width: 480px) {
  #map {
    height: 200px; }
  .contact-details h2 {
    font-size: 18px; }
  .contact-details h4 {
    font-size: 12px; }
  .contact-details p {
    font-size: 12px; }
  .contact-us .form h3 {
    font-size: 14px; }
  .contact-us .btn-contact-wrap .btn-success {
    font-size: 14px; } }

.intro {
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100%;
  background: #2A2A2A;
  background-size: 100% 100%;
  padding-top: 100px; }

.intro-title {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 55px;
  position: relative;
  top: -140px; }
  .intro-title span {
    font-weight: 400; }

.intro-subtitle {
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0;
  position: relative;
  top: -121px; }

.intro-devices-wrap {
  position: relative;
  max-width: 1300px;
  margin: 0 auto; }

.blur-it-not {
  -webkit-filter: blur(0px) !important;
  -moz-filter: blur(0px) !important;
  -o-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  filter: blur(0px) !important;
  transition: all 0.25s ease-out; }

.intro .bounce-wrap-desktop {
  bottom: 0px; }

@media (max-width: 1199px) {
  .intro-title {
    top: -60px; }
  .intro-subtitle {
    font-size: 24px;
    top: -60px; } }

.imac-wrap {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: -100px; }
  .imac-wrap .chalk-wrap {
    display: inline-block;
    position: relative;
    left: 400px;
    top: 75px;
    width: 50px;
    cursor: pointer;
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
    transition: all 0.5s ease-out; }
  .imac-wrap .imac-hook {
    display: block;
    position: relative;
    top: -359px;
    left: 132px;
    width: 707px; }
  .imac-wrap .imac-top-holder {
    display: block; }
  .imac-wrap .chalk-text {
    position: relative;
    top: 30px;
    left: 60px;
    width: 80px; }

@media (max-width: 1199px) {
  .imac-wrap {
    margin-top: -70px;
    max-width: 710px; }
    .imac-wrap .chalk-wrap {
      left: 263px;
      top: 45px; }
    .imac-wrap .imac-hook {
      top: -254px;
      left: 93px;
      width: 504px; } }

.macbook-wrap {
  position: absolute;
  top: 108px;
  left: 0px;
  max-width: 400px; }

.macbook-wrap .chalk-wrap {
  width: 100px;
  position: relative;
  left: 28px;
  top: 133px;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  transition: all 0.5s ease-out; }

.macbook-wrap .chalk-text {
  width: 150px;
  position: relative;
  left: -20px; }

.macbook-wrap img:hover {
  cursor: pointer; }

.macbook-wrap .chalk {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.macbook-hook {
  display: block;
  cursor: pointer; }

@media (max-width: 1199px) {
  .macbook-wrap {
    left: 54px;
    top: 88px;
    max-width: 300px; }
    .macbook-wrap .chalk-wrap {
      top: 86px;
      width: 67px;
      left: 29px; }
    .macbook-wrap .chalk-text {
      left: -39px; } }

.ipad-wrap {
  position: absolute;
  top: 140px;
  right: 100px;
  max-width: 280px; }

.ipad-wrap .chalk-wrap {
  width: 100px;
  position: relative;
  left: 214px;
  top: 90px;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  transition: all 0.5s ease-out; }

.ipad-wrap .chalk-text {
  width: 150px;
  position: relative;
  left: -20px; }

@media (max-width: 1199px) {
  .ipad-wrap {
    top: 100px;
    right: 101px;
    max-width: 204px; }
    .ipad-wrap .chalk-wrap {
      width: 72px;
      left: 156px;
      top: 70px; }
    .ipad-wrap .chalk-text {
      width: 135px; } }

.iphone-wrap {
  position: absolute;
  z-index: 2;
  right: 260px;
  top: 567px;
  max-width: 180px; }

.iphone-wrap .chalk-wrap {
  width: 66px;
  position: relative;
  left: 136px;
  top: 154px;
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  transition: all 0.5s ease-out; }

.iphone-wrap .chalk-text {
  width: 150px;
  position: relative;
  left: 32px;
  top: -20px; }

@media (max-width: 1199px) {
  .iphone-wrap {
    max-width: 130px;
    right: 201px;
    top: 442px; }
    .iphone-wrap .chalk-wrap {
      left: 102px;
      top: 98px; }
    .iphone-wrap .chalk-text {
      width: 128px; } }

.intro-mobile {
  position: relative;
  background: #2A2A2A;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px; }

.app-spacer {
  padding: 30px; }

.app-wrap {
  max-width: 80px;
  text-align: center;
  margin: 0 auto; }

.app-wrap a {
  display: block;
  margin: 0 auto; }

.app-wrap img {
  border-radius: 25%; }

.app-text {
  color: #fff;
  padding-top: 2px;
  text-align: center;
  font-size: 11px;
  font-weight: 300; }

.intro-mobile-logo-wrap {
  max-width: 200px;
  margin: 0 auto;
  position: relative;
  top: 50px; }

.bounce-wrap {
  position: absolute;
  bottom: 50px;
  left: 50%;
  text-align: center; }

.bounce-wrap .fa {
  width: 55px;
  display: block;
  text-align: center;
  color: #FFF;
  font-weight: 100;
  font: 100 30px 'FontAwesome';
  line-height: 55px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.fa-angle-double-down:before {
  content: "\f103"; }

.bounce2 {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce2 2s infinite;
  -moz-animation: bounce2 2s infinite;
  -o-animation: bounce2 2s infinite; }

@-webkit-keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }

@-moz-keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }

@-o-keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-30px); }
  60% {
    -o-transform: translateY(-15px); } }

@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

@media (max-width: 991px) {
  .intro-mobile {
    padding-top: 30px; }
  .app-spacer {
    padding: 10px; } }

.focus-test {
  position: absolute;
  font-size: 60px;
  z-index: 3;
  color: #564363;
  color: rgba(86, 67, 99, 0.1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 280px;
  left: -160px; }

#about {
  position: relative;
  width: 100%;
  padding: 60px 20px 120px 20px;
  background: #fff;
  background: #fefefe;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden; }

.about-content {
  position: relative;
  padding: 20px;
  padding-left: 120px;
  min-height: 450px; }

.about-content h2 {
  font-size: 35px;
  padding-top: 10px;
  font-weight: 900; }

.about-content h2:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block; }

.about-content p {
  font-size: 14px;
  line-height: 25px; }

.about-typo {
  position: relative;
  top: 92px;
  font-size: 24px;
  text-align: center;
  color: #444; }

.about-typo span {
  display: block;
  position: relative;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in; }

.about-typo .about-typo .typo-sidecode {
  -webkit-transition: all 50ms ease-in;
  -moz-transition: all 50ms ease-in;
  -o-transition: all 50ms ease-in;
  transition: all 50ms ease-in; }

.about-typo span strong {
  -webkit-transition: all 50ms ease-in 50ms;
  -moz-transition: all 50ms ease-in 50ms;
  -o-transition: all 50ms ease-in 50ms;
  transition: all 50ms ease-in 50ms; }

.about-typo .typo-tech {
  font-weight: 900;
  font-size: 43px; }

.about-typo .typo-focus {
  top: -15px;
  font-weight: 300;
  font-size: 39px; }

.about-typo .typo-sidecode {
  top: -38px;
  right: 2px;
  font-size: 77px;
  font-weight: 400; }

.about-typo .typo-sidecode strong {
  font-weight: 600; }

.about-typo .typo-creative {
  top: -73px;
  font-weight: 100;
  font-size: 64px; }

.about-typo .typo-bus {
  top: -94px;
  font-weight: 800;
  font-size: 37px; }

.about-typo:hover .typo-tech {
  color: #32C0FF; }

.about-typo:hover .typo-focus {
  color: #FF5C4A; }

.about-typo:hover .typo-sidecode {
  color: #564363; }

.about-typo:hover .typo-sidecode strong {
  color: #444; }

.about-typo:hover .typo-creative {
  color: #FF5C4A; }

.about-typo:hover .typo-bus {
  color: #B2DD4C; }

.about-typo:hover .typo-focus {
  color: #FF4BB4; }

@media (max-width: 991px) {
  .about-content {
    padding-left: 0px;
    font-size: 12px; }
  .about-content p {
    font-size: 12px; }
  .focus-test {
    opacity: 1;
    font-size: 65px;
    position: relative;
    top: 0;
    left: auto;
    text-align: center;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }
  .about-typo .typo-tech {
    font-size: 35px; }
  .about-typo .typo-focus {
    top: -13px;
    font-size: 31px; }
  .about-typo .typo-sidecode {
    top: -38px;
    right: 2px;
    font-size: 61px; }
  .about-typo .typo-creative {
    top: -69px;
    font-size: 51px; }
  .about-typo .typo-bus {
    top: -90px;
    font-size: 30px; } }

@media (max-width: 767px) {
  .focus-test {
    font-size: 35px;
    top: 0px; }
  #about {
    padding-top: 10px;
    padding-bottom: 0; }
  .about-content {
    padding: 10px;
    min-height: 0; }
  .about-content h2 {
    font-size: 22px;
    margin-top: -5px;
    padding-top: 0; }
  .about-content p {
    line-height: 20px; }
  .about-typo {
    top: 10px;
    min-height: 0;
    height: auto;
    position: static; } }

section.services {
  padding-top: 50px;
  margin-top: -125px;
  background-color: #F0F2F1;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3); }

.icon-wrap {
  display: inline-block; }

.icon-wrap.circle {
  background-color: #b2dd4c;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out; }

.icon-wrap.circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }

.icon-wrap.circle.checked {
  position: relative; }

.icon-wrap.circle.checked:after,
.icon-wrap.circle.checked:before {
  display: block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #b2dd4c;
  position: absolute;
  color: #fff; }

.icon-wrap.circle.checked:before {
  width: 44px;
  height: 44px;
  bottom: 0;
  font-size: 16px;
  line-height: 44px;
  right: -12%;
  z-index: 9;
  content: "\e080";
  font-family: simple-line-icons;
  webkit-transition: opacity 0.3s cubic-bezier(0.39, 0.58, 0.57, 1) 0.1s;
  transition: opacity 0.3s cubic-bezier(0.39, 0.58, 0.57, 1) 0.1s; }

.services-underline-icon-box-holder.services-background-animation:hover .services-underline-icon-box-text-holder .services-underline-icon-box-text,
.services-underline-icon-box-holder.services-background-animation:hover .services-underline-icon-box-underline {
  height: 100%; }

.service-holder .service-item {
  display: inline-block;
  vertical-align: top; }

.service-holder .service-item .item-wrapper {
  position: relative; }

.service-holder .service-item .service-item-icon-holder {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  border: 3px solid #e1e1e1;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.service-holder .service-item .icon-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  line-height: 0;
  border-radius: 50%;
  border: 0 solid transparent;
  box-sizing: border-box;
  -webkit-transition: border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: border 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.service-holder .service-item .icon-wrap.circle {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #797979;
  border: 0; }

.service-holder .service-item .icon-wrap.circle .icon-elem {
  color: #fff;
  position: relative;
  top: 8px;
  font-size: 35px; }

.services #tabs li:last-child .item-wrapper:after {
  border: none; }

@media (max-width: 991px) {
  section.services {
    margin-top: -105px; }
  .icon-wrap.circle.checked:before {
    width: 44px;
    height: 44px;
    line-height: 44px; }
  .service-holder .service-item .service-item-icon-holder {
    width: 90px;
    height: 90px; }
  .service-holder .service-item .icon-wrap.circle {
    width: 45px;
    height: 45px;
    line-height: 38px; }
  .service-holder .service-item .icon-wrap.circle .icon-elem {
    font-size: 25px; }
  .services .nav-tabs > li, .nav-pills > li {
    width: 130px !important; }
  .service-holder .service-item .item-wrapper:after {
    width: 28%; } }

@media (max-width: 767px) {
  .icon-wrap.circle.checked:before {
    width: 44px;
    height: 44px;
    line-height: 44px; }
  .service-holder .service-item .service-item-icon-holder {
    width: 50px;
    height: 50px; }
  .service-holder .service-item .icon-wrap.circle {
    width: 35px;
    height: 35px;
    line-height: 20px; }
  .service-holder .service-item .icon-wrap.circle .icon-elem {
    font-size: 20px; }
  .services .nav-tabs > li, .nav-pills > li {
    width: 65px !important; }
  .service-holder .service-item .item-wrapper:after {
    border: none; }
  .nav > li > a {
    padding: 0; } }

.service-holder .service-item:hover .service-item-icon-holder {
  border-color: #b2dd4c; }

.service-holder .service-item:hover .icon-wrap.circle {
  background-color: #b2dd4c; }

.service-holder .service-item:hover .icon-bg {
  border: 20px solid rgba(178, 221, 76, 0.3);
  -webkit-transition: border 0.6s cubic-bezier(0.32, 1.63, 0.44, 1.82);
  transition: border 0.6s cubic-bezier(0.32, 1.63, 0.44, 1.82); }

.services .nav-tabs > li.active .service-item .service-item-icon-holder {
  border-color: #b2dd4c; }

.services .nav-tabs > li.active .service-item .icon-wrap.circle {
  background-color: #b2dd4c; }

.services .nav-tabs > li.active .service-item .icon-bg {
  border: 20px solid rgba(178, 221, 76, 0.3);
  -webkit-transition: border 0.6s cubic-bezier(0.32, 1.63, 0.44, 1.82);
  transition: border 0.6s cubic-bezier(0.32, 1.63, 0.44, 1.82); }

.services .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: none; }

.nav-tabs {
  border: none; }

.services .nav-tabs > li, .nav-pills > li {
  float: none;
  width: 210px;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */ }

.services .nav-tabs, .nav-pills {
  text-align: center; }

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: transparent;
  border: none; }

.tab-content {
  padding-top: 50px;
  padding-bottom: 50px; }

.tab-title {
  position: relative;
  font-weight: 700; }

.tab-text {
  line-height: 1.6;
  font-weight: 400;
  color: #838485; }

.tab-title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block; }

.bordred-img {
  width: 80%;
  float: right;
  height: auto; }

@media (max-width: 767px) {
  section.services {
    padding-top: 40px;
    margin-top: -66px; }
  .tab-content {
    padding-top: 20px; }
  .tab-title {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 10px; }
  .tab-title:after {
    display: none; }
  .bordred-img {
    text-align: center;
    float: none;
    margin: 0 auto;
    width: 100%; } }

section.portfolio {
  padding-top: 50px;
  padding-bottom: 50px; }

section.portfolio h2.title {
  display: inline-block;
  margin: 0; }

section.portfolio h5 {
  margin: 0;
  font-size: 16px;
  line-height: 24px; }

section.portfolio h2.title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto; }

@media (max-width: 767px) {
  section.portfolio {
    padding-top: 20px;
    padding-bottom: 20px; }
    section.portfolio .headline {
      padding-top: 15px;
      padding-bottom: 15px; }
    section.portfolio .headline .title {
      font-size: 28px;
      margin-bottom: 10px;
      padding-bottom: 0; }
    section.portfolio .headline .subtitle {
      font-size: 14px; }
    section.portfolio #filters {
      padding: 0 10px 10px 10px; }
    section.portfolio #filters li {
      width: 50%;
      padding: 2px; }
    section.portfolio #filters li:first-child {
      width: 100%; }
    section.portfolio #filters li a {
      font-size: 10px;
      display: inline-block;
      width: 136px; } }

section.clients {
  position: relative;
  padding-bottom: 60px;
  padding-top: 30px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 35px RGBA(86, 67, 99, 0.5); }

section.clients h2.title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto; }

.clients h5 {
  font-size: 16px; }

.clients .container {
  padding-left: 60px;
  padding-right: 60px; }

.client-slider.slick-initialized .slick-slide {
  min-height: 0;
  height: auto; }

.client-slider .slick-slide {
  min-height: 0;
  height: auto;
  padding: 30px; }

.client-slider .slick-slide:focus {
  outline: none; }

.client-slider .slick-slide img {
  position: relative;
  display: block;
  max-width: 160px;
  max-height: 70px;
  min-height: 0;
  margin: 0 auto;
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
  -webkit-transition: all 500ms ease .1s;
  -moz-transition: all 500ms ease .1s;
  -o-transition: all 500ms ease .1s;
  transition: all 500ms ease .1s; }

.client-slider .slick-slide img:hover {
  -webkit-filter: grayscale(0);
  /* Chrome, Safari, Opera */
  filter: grayscale(0);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

@media (max-width: 767px) {
  .clients h5 {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 24px; } }

section.recentArticles {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #EEEEEE;
  min-height: 500px; }

section.recentArticles h2.title {
  display: inline-block;
  margin: 0; }

section.recentArticles h5 {
  margin: 0;
  font-size: 16px;
  line-height: 24px; }

section.recentArticles h2.title:after {
  content: "";
  background-color: #7B6B87;
  width: 60px;
  height: 2px;
  display: block;
  margin: 15px auto; }

@media (max-width: 767px) {
  section.recentArticles {
    padding-top: 20px;
    padding-bottom: 20px; }
    section.recentArticles .headline {
      padding-top: 15px;
      padding-bottom: 15px; }
    section.recentArticles .headline .title {
      font-size: 28px;
      margin-bottom: 10px;
      padding-bottom: 0; }
    section.recentArticles .headline .subtitle {
      font-size: 14px; } }

section.recentArticles {
  /* card action */ }
  section.recentArticles a {
    color: #9ec542; }
  section.recentArticles .card-wrap {
    background-color: #fff;
    margin-bottom: 1.6rem;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  section.recentArticles .card-image {
    min-height: 100px;
    max-height: 210px;
    background-color: #eee;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden; }
  section.recentArticles .card-image img {
    width: 100%;
    max-width: 100%;
    display: block; }
  section.recentArticles .card-content {
    position: relative;
    padding: 1.6rem;
    min-height: 192px; }
  section.recentArticles .card-excerpt {
    color: #666666; }
  section.recentArticles .card-category {
    font-weight: 700; }
  section.recentArticles .card-meta {
    text-align: left; }
  section.recentArticles .card-meta time {
    font-size: 1.5rem;
    color: #bbb;
    margin-left: 0.8rem; }
  section.recentArticles .card-article {
    padding-top: 15px; }
  section.recentArticles .card-article h2 {
    font-weight: bold;
    font-size: 20px; }
  section.recentArticles .card-article a {
    text-decoration: none;
    color: #444;
    transition: all 0.5s ease; }
  section.recentArticles .card-article a:hover {
    color: #9ec542; }
  section.recentArticles .card__action {
    overflow: hidden;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 1.6rem; }
  section.recentArticles .card-author {
    font-weight: 700;
    text-align: left;
    color: #9ec542; }
  section.recentArticles .card-author img,
  section.recentArticles .card-author-content {
    display: inline-block;
    vertical-align: middle; }
  section.recentArticles .card-author img {
    border-radius: 50%;
    margin-right: 0.6em; }
  section.recentArticles .card-share {
    float: right;
    position: relative;
    margin-top: -42px; }
  section.recentArticles .card-social {
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    width: 160px;
    transform: translateZ(0);
    transform: translateX(0px);
    transition: transform 0.35s ease; }
  section.recentArticles .card-social--active {
    visibility: visible;
    /*z-index: 3;*/
    transform: translateZ(0);
    transform: translateX(-48px);
    transition: transform 0.35s ease; }
  section.recentArticles .share-toggle {
    z-index: 2; }
  section.recentArticles .share-toggle:before {
    content: "\f1e0";
    font-family: 'FontAwesome';
    color: #9ec542; }
  section.recentArticles .share-toggle.share-expanded:before {
    content: "\f00d"; }
  section.recentArticles .share-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }
  section.recentArticles .share-icon:hover,
  section.recentArticles .share-icon:focus {
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  section.recentArticles .facebook {
    background-color: #3b5998; }
  section.recentArticles .twitter {
    background-color: #00abe3; }
  section.recentArticles .googleplus {
    background-color: #d3492c; }
  section.recentArticles .facebook,
  section.recentArticles .twitter,
  section.recentArticles .googleplus {
    color: #fff; }
  section.recentArticles .facebook:hover,
  section.recentArticles .twitter:hover,
  section.recentArticles .googleplus:hover {
    color: #eee; }

.footer {
  background: #212121;
  color: #fff;
  font-size: 14px;
  text-align: left;
  padding-top: 30px;
  border-top: 2px solid #303030;
  -webkit-box-shadow: 0 -7px 5px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 -7px 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 -7px 15px 0 rgba(0, 0, 0, 0.3); }

.footer .borderized {
  border-left: 2px solid #3B3B3B; }

.footer .padded {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 250px; }

.footer-logo img {
  max-width: 150px; }

.footer .title {
  color: #fff;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700; }
  .footer .title span {
    font-size: 24px;
    color: #efefef; }

.footer .address,
.footer .email,
.footer .phone {
  position: relative;
  padding-top: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
  color: #efefef; }

.footer .email a {
  color: #efefef; }

.footer .phone a {
  color: #efefef; }

.footer .email a:hover {
  color: #B2DD4C; }

.footer .phone a:hover {
  color: #B2DD4C; }

.footer-menu {
  list-style: none; }

.footer-menu a {
  padding: 3px;
  color: #efefef;
  font-size: 14px;
  font-weight: 400; }

.footer .copyright {
  margin-top: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #fff;
  background-color: #202020; }

.footer hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(48, 48, 48, 0.5); }

.social-networks a {
  display: inline-block;
  text-decoration: none;
  color: #efefef;
  font-size: 23px;
  margin: 5px;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out; }

.social-networks a:hover i {
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
  color: #B2DD4C; }

#menu-menu-main-2 a:hover {
  color: #B2DD4C; }

.something-else-list {
  list-style: none; }

.something-else-list li {
  padding-bottom: 5px; }

.something-else-list a {
  color: #efefef; }

.something-else-list a:hover {
  color: #B2DD4C; }

@media (max-width: 767px) {
  .footer {
    text-align: center; }
  .footer .padded {
    border-bottom: 2px solid #3B3B3B;
    padding: 10px 5px;
    min-height: 0; }
  .footer .title {
    font-size: 18px; }
  .footer .title span {
    font-size: 20px; }
  .footer .address, .footer .email, .footer .phone {
    font-size: 14px; } }

.sharing-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 50px; }

ul.share-list {
  position: relative;
  top: 15px;
  margin-left: 30px;
  padding-left: 0px;
  display: inline-block;
  list-style: none;
  border-radius: 4px;
  border: 3px solid #564363;
  margin-bottom: 0; }
  ul.share-list li {
    float: left;
    border-left: 3px solid #564363; }
  ul.share-list li:first-child {
    border: none; }
  ul.share-list li a {
    display: block;
    font-size: 22px;
    color: #564363;
    padding: 5px 14px; }
  ul.share-list li:hover {
    background-color: #B1DF3E; }
    ul.share-list li:hover a {
      color: #564363; }

.share-text {
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
  vertical-align: center;
  color: #564363; }

@media (max-width: 991px) {
  .share-text {
    font-size: 16px; }
  ul.share-list li a {
    font-size: 18px; } }
